<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-banner" name="form-banner" class="form-horizontal form-groups-bordered" role="form" method="post" data-action="<?= $urlaction ?>" enctype="multipart/form-data">
            <?php
            if (isset($banner) && !empty($banner['IMAGEM'])) {
                $bnimagens = explode(',', $banner['IMAGEM']);

                $banner1 = SITE_URL . "/public_html/static/banners/" . $bnimagens[0];
                $banner2 = SITE_URL . "/public_html/static/banners/" . $bnimagens[1];
                $banner3 = SITE_URL . "/public_html/static/banners/" . $bnimagens[2];
            }

            ?>
            <div class="form-group">
                <?php if (isset($banner)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $banner['BAN_ID'] ?>" />
                <?php } else { ?>
                    <input type="hidden" id="id" name="id" value="0" />
                <?php } ?>
                <label for="field-1" class="col-sm-2 control-label">Banner</label>
                <div class="col-sm-3">
                    <div class='preview prvw1'>
                        <img src="<?= $banner1 ?>" id="img_1" width="200" style="<?= !empty($banner1) ? 'display:block' : '' ?>" />
                    </div>
                    <input type="file" class="form-control file-foto" data-name="Banner (Alta Rosolução)" name="banner" id="banner" data-preview="#img_1" accept="image/*" data-verif="true" />Alta Resolução - Tamanho: 2100x450
                </div>
                <div class="col-sm-3">
                    <div class='preview prvw2'>
                        <img src="<?= $banner2 ?>" id="img_2" width="200" style="<?= !empty($banner2) ? 'display:block' : '' ?>" />
                    </div>
                    <input type="file" class="form-control file-foto" data-name="Banner (Media Rosolução)" name="banner_md" id="banner_md" data-preview="#img_2" accept="image/*" data-verif="true" />Média Resolução - Tamanho: 1024x315
                </div>
                <div class="col-sm-3" style="margin-bottom: 10px">
                    <div class='preview prvw3'>
                        <img src="<?= $banner3 ?>" id="img_3" width="200" style="<?= !empty($banner3) ? 'display:block' : '' ?>" />
                    </div>
                    <input type="file" class="form-control file-foto" data-name="Banner (Baixa Rosolução)" name="banner_sm" id="banner_sm" data-preview="#img_3" accept="image/*" data-verif="true" />Baixa Resolução - Tamanho: 375x160
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-8">
                        <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_DESCRICAO'] . '"' : '' ?>>
                    </div>
                </div>
                <div class="form-group">
                    <label for="field-1" class="col-sm-2 control-label">Link</label>
                    <div class="col-sm-5">
                        <input autocomplete="off" type="text" class="form-control" id="link" name="link" placeholder="Link" data-verif='false' data-name="Link" maxlength="200" <?= isset($banner) ? 'value="' . $banner['LINK'] . '"' : '' ?>>
                    </div>
                    <label for="field-1" class="col-sm-1 control-label">Local do link</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="local_link" name="local_link" data-name="Local do link" data-verif='false'>
                            <option value="">Selecione</option>
                            <option value="1" <?= isset($banner) ? intval($banner['LOCAL_LINK']) == 1 ? 'selected' : '' : '' ?>>Primeiro Texto</option>
                            <option value="2" <?= isset($banner) ? intval($banner['LOCAL_LINK']) == 2 ? 'selected' : '' : '' ?>>Segundo Texto</option>
                            <option value="3" <?= isset($banner) ? intval($banner['LOCAL_LINK']) == 3 ? 'selected' : '' : '' ?>>Terceiro Texto</option>
                            <option value="4" <?= isset($banner) ? intval($banner['LOCAL_LINK']) == 4 ? 'selected' : '' : '' ?>>Botão</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Texto Principal</label>
                        <div class="col-sm-8">
                            <input autocomplete="off" type="text" class="form-control" id="texto_principal" name="texto_principal" placeholder="Texto Principal" data-name="Texto Principal" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_TEXTO_PRINCIPAL'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="row margin-top-10 padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Efeito</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="efeito_texto_principal" name="efeito_texto_principal" data-name="Efeito (Texto Principal)">
                                <option value="">Selecione</option>
                                <option value="fadeInUp" <?= isset($banner) ? $banner['BAN_EFEITO_TXT_PRINC'] == 'fadeInUp' ? 'selected' : '' : '' ?>>Fade Up</option>
                                <option value="fadeInDown" <?= isset($banner) ? $banner['BAN_EFEITO_TXT_PRINC'] == 'fadeInDown' ? 'selected' : '' : '' ?>>Fade Down</option>
                            </select>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Cor</label>
                        <div class="col-sm-1">
                            <input autocomplete="off" type="text" class="form-control jscolor" id="pritxtcor" name="pritxtcor" placeholder="Cor do Primeiro Texto" data-verif='false' data-name="Cor do Primeiro Texto" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_COR_TXT_PRI'] . '"' : '' ?>>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Segundo Texto</label>
                        <div class="col-sm-8">
                            <input autocomplete="off" type="text" class="form-control" id="segundo_texto" name="segundo_texto" placeholder="Segundo Texto" data-verif='false' data-name="Segundo Texto" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_SEG_TEXTO'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="row margin-top-10 padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Efeito</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="efeito_segundo_texto" name="efeito_segundo_texto" data-name="Efeito (Segundo Texto)" data-verif='false'>
                                <option value="">Selecione</option>
                                <option value="fadeInUp" <?= isset($banner) ? $banner['BAN_EFEITO_SEG_TEXTO'] == 'fadeInUp' ? 'selected' : '' : '' ?>>Fade Up</option>
                                <option value="fadeInDown" <?= isset($banner) ? $banner['BAN_EFEITO_SEG_TEXTO'] == 'fadeInDown' ? 'selected' : '' : '' ?>>Fade Down</option>
                            </select>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Cor</label>
                        <div class="col-sm-1">
                            <input autocomplete="off" type="text" class="form-control jscolor" id="sectxtcor" name="sectxtcor" placeholder="Cor do Segundo Texto" data-verif='false' data-name="Cor do Segundo Texto" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_COR_TXT_SEC'] . '"' : '' ?>>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Terceiro Texto</label>
                        <div class="col-sm-8">
                            <input autocomplete="off" type="text" class="form-control" id="terceiro_texto" name="terceiro_texto" placeholder="Terceiro Texto" data-verif='false' data-name="Terceiro Texto" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_TER_TEXTO'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="row margin-top-10 padding-lr-15">
                        <label for="field-1" class="col-sm-2 control-label">Efeito</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="efeito_terceiro_texto" name="efeito_terceiro_texto" data-name="Efeito (Terceiro Texto)" data-verif='false'>
                                <option value="">Selecione</option>
                                <option value="fadeInUp" <?= isset($banner) ? $banner['BAN_EFEITO_TER_TEXTO'] == 'fadeInUp' ? 'selected' : '' : '' ?>>Fade Up</option>
                                <option value="fadeInDown" <?= isset($banner) ? $banner['BAN_EFEITO_TER_TEXTO'] == 'fadeInDown' ? 'selected' : '' : '' ?>>Fade Down</option>
                            </select>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Cor</label>
                        <div class="col-sm-1">
                            <input autocomplete="off" type="text" class="form-control jscolor" id="tertxtcor" name="tertxtcor" placeholder="Cor do Terceiro Texto" data-verif='false' data-name="Cor do Terceiro Texto" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_COR_TXT_TER'] . '"' : '' ?>>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="field-1" class="col-sm-2 control-label">Posição dos textos</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="posicao_textos" name="posicao_textos" data-name="Posição dos textos">
                            <option value="">Selecione</option>
                            <option value="left" <?= isset($banner) ? $banner['BAN_POS_TEXTOS'] == 'left' ? 'selected' : '' : '' ?>>Esquerda</option>
                            <option value="right" <?= isset($banner) ? $banner['BAN_POS_TEXTOS'] == 'right' ? 'selected' : '' : '' ?>>Direta</option>
                            <option value="center" <?= isset($banner) ? $banner['BAN_POS_TEXTOS'] == 'fadeInUp' ? 'center' : '' : '' ?>>Central</option>
                        </select>
                    </div>
                    <label for="field-1" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="status" name="status" data-name="Status">
                            <option value="1" <?= isset($banner) ? $banner['BAN_STATUS'] == 1 ? 'selected' : '' : '' ?>>Ativo</option>
                            <option value="2" <?= isset($banner) ? $banner['BAN_STATUS'] == 2 ? 'selected' : '' : 'selected' ?>>Inativo</option>
                        </select>
                    </div>
                </div>
                <!--div class="form-group">
                    <label for="field-1" class="col-sm-2 control-label">Texto do Botão</label>
                    <div class="col-sm-3">
                        <input autocomplete="off" type="text" class="form-control" id="bt_text" name="bt_text" placeholder="Texto do Botão" data-verif='false' data-name="Texto do Botão" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_BT_TEXTO'] . '"' : '' ?>>
                    </div>
                    <label for="field-1" class="col-sm-2 control-label">Cor do Botão</label>
                    <div class="col-sm-3">
                        <input autocomplete="off" type="text" class="form-control jscolor" id="bt_cor" name="bt_cor" placeholder="Cor do Botão" data-verif='false' data-name="Cor do Botão" maxlength="200" <?= isset($banner) ? 'value="' . $banner['BAN_BT_COR'] . '"' : '' ?>>
                    </div>
                </div-->
                <div class="form-group">
                    <div class="col-sm-5 col-sm-offset-2">
                        <button type="buttom" name="submit" class="btn btn-success form_submit_banner"><?= $titleaction ?></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
