<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= SITE_URL . '/' . $controller . '/Banner' ?>" class="btn btn-green btn-lg">Cadastrar Novo Banner</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 pull-left">
        <h3><strong>Configuração de exibição dos Banners</strong></h3>
    </div>
</div>
<div class="row">
    <form id="form-produto" name="form-produto" class="form-horizontal" role="form" method="post" action="<?= $urlactioncfgbanner ?>">
        <div class="form-group">
            <?php if (false) { ?>
                <label for="direcao" class="col-sm-1 control-label">Direção:</label>
                <input type="hidden" id="id" name="id" value="<?= $config['@IDSMTP'] ?>" />
                <div class="col-sm-2">
                    <select class="form-control" id="direcao" name="direcao">
                        <option value="1" <?= intval($config['@BANNER_SENTIDO']) == 1 ? 'selected="selected"' : '' ?>>Direita</option>
                        <option value="2" <?= intval($config['@BANNER_SENTIDO']) == 2 ? 'selected="selected"' : '' ?>>Esquerda</option>
                    </select>
                </div>
            <?php } ?>
            <label for="tempo" class="col-sm-1 control-label">Tempo:</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" min="1000" id="tempo" name="tempo" placeholder="Tempo do Banner" value="<?= $config['@BANNER_TEMPO'] ?>" />
            </div>
            <div class="col-sm-1">
                <button type="submit" name="submit" class="btn btn-success btn-icon">
                    <i class="entypo-check"></i>
                    Salvar Configuração
                </button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>Banner</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listabanners as $row) { ?>
                        <?php
                        $bnimagens = explode(',', $row['IMAGEM']);

                        ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['BAN_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['BAN_DESCRICAO'] ?></td>
                            <td style="width: 600px">
                                <div class="col-md-8">
                                    <a href="<?= SITE_URL . "/public_html/static/banners/" . $bnimagens[0] ?>" data-lightbox="example-set" class="single_image">
                                        <img src="<?= SITE_URL . "/public_html/static/banners/" . $bnimagens[0] ?>" class="img-fluid" />
                                    </a>
                                </div>
                            </td>
                            <td class="sorting_1"><?= intval($row['BAN_STATUS']) == 1 ? 'Ativo' : 'Inativo' ?></td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Banner/' . $row['BAN_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_banner" data-id="<?= $row['BAN_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Inativar/' . $row['BAN_ID'] ?>" class="btn btn-xs btn-black change_status" data-toggle="tooltip" data-placement="top" title="Inativar">
                                    <i class="entypo-lock"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Ativar/' . $row['BAN_ID'] ?>" class="btn btn-xs btn-green change_status" data-toggle="tooltip" data-placement="top" title="Ativar">
                                    <i class="entypo-lock-open"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
