<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-clientes" name="form-clientes" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>">
            <input type="hidden" name="id" value="<?= $cliente['CLI_ID'] ?>" />
            <div class="form-group">
                <label class="col-sm-2 control-label">Nome Completo</label>
                <div class="col-sm-6">
                    <input type="text" id="nome" name="nome" value="<?= $cliente['NOME_COMPLETO'] ?>" placeholder="Nome Completo" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo de Documento</label>
                <div class="col-sm-2">
                    <select class="form-control" name="tipo_doc" id="tipo_doc">
                        <option value="CPF" <?= $cliente['TIPO_DOC'] == "CPF" ? 'selected="selected"' : '' ?>>CPF</option>
                        <option value="CNPJ" <?= $cliente['TIPO_DOC'] == "CNPJ" ? 'selected="selected"' : '' ?>>CNPJ</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label" id="lbl_doc"><?= $cliente['TIPO_DOC'] == "CPF" || empty($cliente['TIPO_DOC']) ? 'CPF' : 'CNPJ' ?></label>
                <div class="col-sm-3">
                    <input type="text" id="cpf" name="cpf" value="<?= $cliente['NUM_DOC'] ?>" placeholder="<?= $cliente['TIPO_DOC'] == "CPF" || empty($cliente['TIPO_DOC']) ? 'CPF' : 'CNPJ' ?>" class="form-control maskDOC <?= $cliente['TIPO_DOC'] == "CPF" ? 'cpf' : 'cnpj' ?> validcpfcliente">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Telefone Residencial</label>
                <div class="col-sm-2">
                    <input type="text" id="tel_resid" name="tel_resid" value="<?= $cliente['TELEFONE_RESID'] ?>" placeholder="Telefone Residencial" class="form-control maskFone">
                </div>
                <label class="col-sm-2 control-label">Telefone Comercial</label>
                <div class="col-sm-2">
                    <input type="text" id="tel_com" name="tel_com" value="<?= $cliente['TELEFONE_COM'] ?>" placeholder="Telefone Comercial" class="form-control maskFone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Telefone Celular</label>
                <div class="col-sm-2">
                    <input type="text" id="tel_cel" name="tel_cel" value="<?= $cliente['TELEFONE_CEL'] ?>" placeholder="Telefone Celular" class="form-control maskFone">
                </div>
                <label class="col-sm-1 control-label margin-top-30">Gênero: </label>
                <div class="col-sm-6">
                    <label class="mt-radio opcbk80">
                        <input type="radio" name="genero" value="1" <?= intval($cliente['GENERO']) == 1 ? 'checked=""' : ''; ?> <?= $cliente['TIPO_DOC'] == "CNPJ" ? 'disabled="disabled"' : '' ?>> Masculino
                        <span></span>
                    </label>
                    <label class="mt-radio opcbk80">
                        <input type="radio" name="genero" value="2" <?= intval($cliente['GENERO']) == 2 ? 'checked=""' : ''; ?> <?= $cliente['TIPO_DOC'] == "CNPJ" ? 'disabled="disabled"' : '' ?>> Feminino
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Data Nasc.</label>
                <div class="col-sm-2">
                    <input type="date" id="dt_nasc" name="dt_nasc" value="<?= implode('-', array_reverse(explode('/', $cliente['DT_NASCIMENTO']))); ?>" placeholder="Data de Nascimento" class="form-control">
                </div>
                <label class="col-sm-1 control-label">E-mail</label>
                <div class="col-sm-3">
                    <input type="text" id="email" name="email" value="<?= $cliente['CLI_EMAIL'] ?>" placeholder="E-mail" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ocupação</label>
                <div class="col-sm-6">
                    <input type="text" id="ocupacao" name="ocupacao" value="<?= $cliente['OCUPACAO'] ?>" placeholder="Ocupação" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
<?php if (count($listaenderecos) > 0) { ?>
    <div class="row">
        <div class="col-sm-12">
            <h4><strong>Endereços</strong></h4>
        </div>
        <div class="col-sm-12">
            <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-bordered table-striped datatable table-pages">
                    <thead>
                        <tr>
                            <th class="sorting_1 wd50"></th>
                            <th class="sorting_1">Logradouro</th>
                            <th class="sorting_1 wd100">Status</th>
                            <th class="sorting_1 wd80">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($listaenderecos as $row) { ?>
                            <tr>
                                <td class="id sorting_1">
                                    <?= $row['END_ID'] ?>
                                </td>
                                <td class="sorting_1"><?= $row['END_ENDERECO'] ?></td>
                                <td class="sorting_1"><?= intval($row['END_STATUS']) == 1 ? 'Ativo' : 'Inativo'; ?></td>
                                <td class="acoes">
                                    <a href="<?= SITE_URL . '/' . $controller . '/EnderecoCliente/' . $cliente['CLI_ID'] . '/' . $row['END_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                        <i class="entypo-pencil"></i>
                                    </a>
                                    <a href="<?= SITE_URL . '/' . $controller . '/ExcluirEndereco/' . $cliente['CLI_ID'] ?>" class="btn btn-xs btn-red deletar_endereco" data-id="<?= $row['END_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                        <i class="entypo-trash"></i>
                                    </a>
                                    <a href="<?= SITE_URL . '/' . $controller . '/InativarEndereco/' . $cliente['CLI_ID'] . '/' . $row['END_ID'] ?>" class="btn btn-xs btn-black change_status_end" data-toggle="tooltip" data-placement="top" title="Inativar">
                                        <i class="entypo-lock"></i>
                                    </a>
                                    <a href="<?= SITE_URL . '/' . $controller . '/AtivarEndereco/' . $cliente['CLI_ID'] . '/' . $row['END_ID'] ?>" class="btn btn-xs btn-green change_status_end" data-toggle="tooltip" data-placement="top" title="Ativar">
                                        <i class="entypo-lock-open"></i>
                                    </a>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php } ?>
