<div class="row">
    <div class="col-sm-12">
        <h3><strong>Tel. Celular: <?= $cliente['TELEFONE_CEL'] ?></strong></h3>
    </div>
    <?php if (count($listacompras) > 0) { ?>
        <div class="col-sm-12">
            <h4><strong>Compras Realizadas</strong></h4>
        </div>
        <div class="col-sm-12">
            <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
                <table class="table table-bordered table-striped datatable table-pages">
                    <thead>
                        <tr>
                            <th class="sorting_1 wd50"></th>
                            <th class="sorting_1">Meio Pagamento</th>
                            <th class="sorting_1">Forma Pagamento</th>
                            <th class="sorting_1">Tipo Entrega</th>
                            <th class="sorting_1">Valor Pedido</th>
                            <th class="sorting_1">Valor Frete</th>
                            <th class="sorting_1">Data</th>
                            <th class="sorting_1">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($listacompras as $row) { ?>
                            <tr>
                                <td class="id sorting_1">
                                    <?= $row['PED_ID'] ?>
                                </td>
                                <td class="sorting_1"><?= $row['NOME_MEIO_PAG'] ?></td>
                                <td class="sorting_1"><?= $row['COD_OP_PAG'] . '-' . $row['NOME_OP_PAG'] ?></td>
                                <td class="sorting_1"><?= $row['NOME_OP_ENTREGA'] ?></td>
                                <td class="sorting_1"><?= $row['VALOR_PEDIDO'] ?></td>
                                <td class="sorting_1"><?= $row['VALOR_FRETE'] ?></td>
                                <td class="sorting_1"><?= $row['DATA_CADASTRO'] ?></td>
                                <td class="sorting_1"><?= $row['PED_STATUS'] . '-' . $row['STATUS_PED_DESC'] ?></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    <?php } else { ?>
        <div class="col-sm-12">
            <h6>Nenhuma Compra Realizada</h6>
        </div>
    <?php } ?>
</div>
