<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3><strong>Cliente: <?= $cliente['NOME_COMPLETO'] ?></strong></h3>
    </div>
    <div class="col-sm-12">
        <h3><strong>Tel. Celular: <?= $cliente['TELEFONE_CEL'] ?></strong></h3>
    </div>
    <div class="col-sm-12">
        <form id="form-clientes" name="form-clientes" class="form-horizontal form-groups-bordered area_endereco" role="form" method="post" action="<?= $urlaction ?>">
            <input type="hidden" name="id" value="<?= $endereco['END_ID'] ?>" />
            <input type="hidden" name="cliente" value="<?= $endereco['USUARIO_ID'] ?>" />
            <div class="form-group">
                <label class="col-sm-2 control-label">CEP</label>
                <div class="col-sm-2">
                    <input type="text" id="cep_<?= $endereco['END_ID'] ?>" name="cep" value="<?= $endereco['END_CEP'] ?>" placeholder="CEP" class="form-control maskCep ecep" />
                </div>
                <label class="col-sm-1 control-label">Logradouro</label>
                <div class="col-sm-4">
                    <input type="text" id="logradouro" name="logradouro" value="<?= $endereco['END_ENDERECO'] ?>" placeholder="Logradouro" class="form-control elogradouro">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Bairro</label>
                <div class="col-sm-3">
                    <input type="text" id="bairro" name="bairro" value="<?= $endereco['END_BAIRRO'] ?>" placeholder="Bairro" class="form-control ebairro">
                </div>
                <label class="col-sm-1 control-label">Cidade</label>
                <div class="col-sm-3">
                    <input type="text" id="cidade" name="cidade" value="<?= $endereco['END_CIDADE'] ?>" placeholder="Cidade" class="form-control ecidade">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Número</label>
                <div class="col-sm-1">
                    <input type="text" id="num" name="num" value="<?= $endereco['END_NUM'] ?>" placeholder="Número" class="form-control numbers">
                </div>
                <label class="col-sm-1 control-label">UF</label>
                <div class="col-sm-1">
                    <select id="uf_<?= $endereco['END_ID'] ?>" name="uf" class="form-control eestado" required="required">
                        <option value="AC" <?= $endereco['END_UF'] == "AC" ? 'selected="selected"' : '' ?>>AC</option>
                        <option value="AL" <?= $endereco['END_UF'] == "AL" ? 'selected="selected"' : '' ?>>AL</option>
                        <option value="AP" <?= $endereco['END_UF'] == "AP" ? 'selected="selected"' : '' ?>>AP</option>
                        <option value="AM" <?= $endereco['END_UF'] == "AM" ? 'selected="selected"' : '' ?>>AM</option>
                        <option value="BA" <?= $endereco['END_UF'] == "BA" ? 'selected="selected"' : '' ?>>BA</option>
                        <option value="CE" <?= $endereco['END_UF'] == "CE" ? 'selected="selected"' : '' ?>>CE</option>
                        <option value="DF" <?= $endereco['END_UF'] == "DF" ? 'selected="selected"' : '' ?>>DF</option>
                        <option value="ES" <?= $endereco['END_UF'] == "ES" ? 'selected="selected"' : '' ?>>ES</option>
                        <option value="GO" <?= $endereco['END_UF'] == "GO" ? 'selected="selected"' : '' ?>>GO</option>
                        <option value="MA" <?= $endereco['END_UF'] == "MA" ? 'selected="selected"' : '' ?>>MA</option>
                        <option value="MT" <?= $endereco['END_UF'] == "MT" ? 'selected="selected"' : '' ?>>MT</option>
                        <option value="MS" <?= $endereco['END_UF'] == "MS" ? 'selected="selected"' : '' ?>>MS</option>
                        <option value="MG" <?= $endereco['END_UF'] == "MG" ? 'selected="selected"' : '' ?>>MG</option>
                        <option value="PA" <?= $endereco['END_UF'] == "PA" ? 'selected="selected"' : '' ?>>PA</option>
                        <option value="PB" <?= $endereco['END_UF'] == "PB" ? 'selected="selected"' : '' ?>>PB</option>
                        <option value="PR" <?= $endereco['END_UF'] == "PR" ? 'selected="selected"' : '' ?>>PR</option>
                        <option value="PE" <?= $endereco['END_UF'] == "PE" ? 'selected="selected"' : '' ?>>PE</option>
                        <option value="PI" <?= $endereco['END_UF'] == "PI" ? 'selected="selected"' : '' ?>>PI</option>
                        <option value="RJ" <?= $endereco['END_UF'] == "RJ" ? 'selected="selected"' : '' ?>>RJ</option>
                        <option value="RN" <?= $endereco['END_UF'] == "RN" ? 'selected="selected"' : '' ?>>RN</option>
                        <option value="RS" <?= $endereco['END_UF'] == "RS" ? 'selected="selected"' : '' ?>>RS</option>
                        <option value="RO" <?= $endereco['END_UF'] == "RO" ? 'selected="selected"' : '' ?>>RO</option>
                        <option value="RR" <?= $endereco['END_UF'] == "RR" ? 'selected="selected"' : '' ?>>RR</option>
                        <option value="SC" <?= $endereco['END_UF'] == "SC" ? 'selected="selected"' : '' ?>>SC</option>
                        <option value="SP" <?= $endereco['END_UF'] == "SP" ? 'selected="selected"' : '' ?>>SP</option>
                        <option value="SE" <?= $endereco['END_UF'] == "SE" ? 'selected="selected"' : '' ?>>SE</option>
                        <option value="TO" <?= $endereco['END_UF'] == "TO" ? 'selected="selected"' : '' ?>>TO</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">País</label>
                <div class="col-sm-3">
                    <input type="text" id="pais_<?= $endereco['END_ID'] ?>" name="pais" value="<?= $endereco['END_PAIS'] ?>" placeholder="País" class="form-control epais" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Complemento</label>
                <div class="col-sm-7">
                    <input type="text" id="complemento_<?= $endereco['END_ID'] ?>" name="complemento" value="<?= $endereco['END_COMPLEMENTO'] ?>" placeholder="Complemento" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label margin-top-30">Tipo: </label>
                <div class="col-sm-2">
                    <select id="tipo_<?= $endereco['END_ID'] ?>" name="tipo" class="form-control slct_end" required="required">
                        <option value="">Selecione</option>
                        <option value="1" <?= intval($endereco['END_TIPO']) == 1 ? 'selected="selected"' : '' ?>>Residencial</option>
                        <option value="2" <?= intval($endereco['END_TIPO']) == 2 ? 'selected="selected"' : '' ?>>Comercial</option>
                        <option value="3" <?= intval($endereco['END_TIPO']) == 3 ? 'selected="selected"' : '' ?>>Outro</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Enviar para este endereço: </label>
                <div class="col-sm-1">
                    <select id="enviar_<?= $endereco['END_ID'] ?>" name="enviar" class="form-control slct_envio" required="required">
                        <option value="1" <?= intval($endereco['IS_ENVIO']) == 1 ? 'selected="selected"' : '' ?>>Sim</option>
                        <option value="0" <?= intval($endereco['IS_ENVIO']) == 0 ? 'selected="selected"' : '' ?>>Não</option>
                    </select>
                </div>
                <label class="col-sm-1 control-label">Status: </label>
                <div class="col-sm-1">
                    <select id="status_<?= $endereco['END_ID'] ?>" name="status" class="form-control" required="required">
                        <option value="1" <?= intval($endereco['END_STATUS']) == 1 ? 'selected="selected"' : '' ?>>Ativo</option>
                        <option value="0" <?= intval($endereco['END_STATUS']) == 0 ? 'selected="selected"' : '' ?>>Inativo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
