<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= PASTAMODELOS_URL . '/modelo_importacao_clientes.xls' ?>" target="_blank" class="btn btn-black btn-lg" data-toggle="tooltip" data-placement="top" title="Download do Modelo"><i class="fa fa-cloud-download"></i></a>
        <a href="#importacaoModal" data-toggle="modal" class="btn btn-default btn-lg btn_upload" data-toggle="tooltip" data-placement="top" title="Importar Dados"><i class="fa fa-cloud-upload"></i></a>
        <a href="<?= SITE_URL . '/' . $controller . '/Cliente' ?>" class="btn btn-green btn-lg">Cadastrar Novo Cliente</a>
    </div>
</div>
<div class="row">
    <form id="form-produto" name="form-produto" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-1 text-right">
                <h3><strong>Filtro</strong></h3>
            </div>
        </div>
        <div class="form-group">
            <label for="busca_nome" class="col-sm-2 control-label">Nome:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="busca_nome" name="busca_nome" placeholder="Buscar Nome">
            </div>
            <label for="busca_email" class="col-sm-1 control-label">E-mail:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="busca_email" name="busca_email" placeholder="Buscar E-mail">
            </div>
        </div>
        <div class="form-group">
            <label for="busca_data" class="col-sm-2 control-label">Data de Cadastro:</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" id="busca_data" name="busca_data" placeholder="Buscar Data de Cadastro">
            </div>
            <div class="col-sm-2 col-sm-offset-5">
                <input type="button" class="btn form-control btn-block btn-success" value="Buscar" id="btnbuscar" />
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer tb-prod">
            <table id="tb-clientes" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="sorting_1 wd50"></th>
                        <th class="sorting_1 wd300">Nome</th>
                        <th class="sorting_1 wd100">Data de Cadastro</th>
                        <th class="sorting_1 wd60">E-mail</th>
                        <th class="sorting_1 wd60">Status</th>
                        <th class="sorting_1 wd80">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
