<div class="row">
    <div class="col-sm-12">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table id="table-relatorios" class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>SKU</th>
                        <th>Produto</th>
                        <th>Estoque</th>
                        <th>Valor</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listaprodutos as $row) { ?>
                        <tr>
                            <td class="id sorting_1"><?= $row['PRD_ID'] ?></td>
                            <td class="sorting_1"><?= $row['PRD_SKU'] ?></td>
                            <td class="sorting_1"><?= $row['PRD_NOME'] ?></td>
                            <td class="sorting_1"><?= $row['PRD_QTDE_ESTOQUE'] ?></td>
                            <td class="sorting_1"><?= 'R$ ' . number_format($row['PRD_PRECO'], 2, ',', '.') ?></td>
                            <td class="sorting_1"><?= $row['STATUS'] ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
