<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-groups-bordered" id="form_rede" role="form" method="post" action="<?= $urlaction ?>">
            <div class="form-group">
                <?php if (isset($rede)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $rede['RS_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="control-label col-sm-2">Nome</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Nome" data-name="Nome" maxlength="150" <?= isset($rede) ? 'value="' . $rede['RS_NOME'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Descrição</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição" data-name="Descrição" maxlength="150" <?= isset($rede) ? 'value="' . $rede['RS_DESC'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Link</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="link" name="link" placeholder="Link" data-name="Link" maxlength="200" <?= isset($rede) ? 'value="' . $rede['RS_LINK'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Ícone</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="icone" name="icone" placeholder="Ícone" data-name="Ícone" maxlength="20" <?= isset($rede) ? 'value="' . $rede['RS_ICO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="control-label col-sm-2">Realiza Login</label>
                <div class="col-sm-5">
                    <select class="form-control" name="exec_login" id="exec_login" data-name="Ícone">
                        <option value="0" <?= isset($rede) ? intval($rede['RE_EXEC_LOGIN']) == 0 ? 'selected="selected"' : '' : '' ?>>Não</option>
                        <option value="1" <?= isset($rede) ? intval($rede['RE_EXEC_LOGIN']) == 1 ? 'selected="selected"' : '' : '' ?>>Sim</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-1">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>