<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-lg">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form id="form-fabricante" name="form-fabricante" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <?php if (isset($fabricante) && !empty($fabricante['IMAGEM'])) { ?>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="<?= SITE_URL . "/public_html/static/fotoparceiro/" . $fabricante['IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                                <img src="<?= SITE_URL . "/public_html/static/fotoparceiro/" . $fabricante['IMAGEM'] ?>" class="img-fluid img-thumbnail"/>
                            </a>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Foto</label>
                <div class="col-sm-5">
                    <input type="file" class="form-control file-foto" data-name="Foto" name="foto" id="foto" accept="image/*" data-verif="false"/>*Tamanho: 183x109
                </div>
            </div>
            <div class="form-group">
                <?php if (isset($fabricante)) { ?>
                    <input type="hidden" id="id" name="id" value="<?= $fabricante['PAR_ID'] ?>"/>
                <?php } ?>
                <label for="field-1" class="col-sm-3 control-label">Fabricante</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Fabricante" data-name="Fabricante" maxlength="120" <?= isset($fabricante) ? 'value="' . $fabricante['PAR_NOME'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Subtítulo</label>
                <div class="col-sm-5">
                    <input autocomplete="off" type="text" class="form-control" id="descricao" name="descricao" placeholder="Subtítulo" data-name="Subtítulo" maxlength="200" <?= isset($fabricante) ? 'value="' . $fabricante['PAR_DESCRICAO'] . '"' : '' ?>>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Informações</label>
                <div class="col-sm-8">
                    <textarea id="informacao" name="informacao" placeholder="Informações" data-name="Informações">
                        <?= isset($fabricante) ? $fabricante['PAR_INFO'] : '' ?>
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Exibir no Site</label>
                <div class="col-sm-5">
                    <select class="form-control" id="exibir_site" name="exibir_site" data-name="Exibir no Site">
                        <option value="1" <?= isset($fabricante) ? $fabricante['PAR_EXIBIR_SITE'] == 1 ? 'selected' : '' : '' ?>>Sim</option>
                        <option value="0" <?= isset($fabricante) ? $fabricante['PAR_EXIBIR_SITE'] == 0 ? 'selected' : '' : '' ?>>Não</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="field-1" class="col-sm-3 control-label">Status</label>
                <div class="col-sm-5">
                    <select class="form-control" id="status" name="status" data-name="Status">
                        <option value="1" <?= isset($fabricante) ? $fabricante['PAR_STATUS'] == 1 ? 'selected' : '' : '' ?>>Ativo</option>
                        <option value="0" <?= isset($fabricante) ? $fabricante['PAR_STATUS'] == 0 ? 'selected' : '' : '' ?>>Inativo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                </div>
            </div>
        </form>
    </div>
</div>
