<div class="row">
    <div class="col-sm-8 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="info-config">
            <ul class="nav nav-tabs">
                <li class="<?= $tabativa == 1 ? 'active' : '' ?>">
                    <a href="#1" data-toggle="tab">Informações de Contato</a>
                </li>
                <li class="<?= $tabativa == 2 ? 'active' : '' ?>">
                    <a href="#2" data-toggle="tab">Informações do Site</a>
                </li>
                <li class="<?= $tabativa == 3 ? 'active' : '' ?>">
                    <a href="#3" data-toggle="tab">Configuração SMTP</a>
                </li>
                <li class="<?= $tabativa == 4 ? 'active' : '' ?>">
                    <a href="#4" data-toggle="tab">Logotipos</a>
                </li>
                <li class="<?= $tabativa == 5 ? 'active' : '' ?>">
                    <a href="#5" data-toggle="tab">Integrações</a>
                </li>
                <li class="<?= $tabativa == 6 ? 'active' : '' ?>">
                    <a href="#6" data-toggle="tab">Vídeos</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane <?= $tabativa == 1 ? 'active' : '' ?>" id="1">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal form-groups-bordered" id="form_contato" role="form" method="post" action="<?= $urlactioncontato ?>">
                                <div class="form-group">
                                    <input type="hidden" id="idcontato" name="idcontato" value="<?= $cfgcontato['@IDCONTATO'] ?>" />
                                    <label for="field-1" class="control-label col-sm-1">Endereço</label>
                                    <div class="col-sm-7">
                                        <input type="text" autocomplete="false" autocomplete="false" class="form-control" id="endereco" name="endereco" placeholder="Endereço" data-name="Endereço" data-verif="false" maxlength="20" value="<?= $cfgcontato['@ENDERECO']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Nº</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control numbers" id="numero" name="numero" placeholder="Número" data-name="Número" data-verif="false" maxlength="20" value="<?= $cfgcontato['@NUMERO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">Complemento</label>
                                    <div class="col-sm-5">
                                        <input type="text" autocomplete="false" class="form-control" id="complemento" name="complemento" placeholder="Complemento" data-name="Complemento" data-verif="false" maxlength="20" value="<?= $cfgcontato['@COMPLEMENTO']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Bairro</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="bairro" name="bairro" placeholder="Bairro" data-name="Bairro" maxlength="150" value="<?= $cfgcontato['@BAIRRO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">Cidade</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="cidade" name="cidade" placeholder="Cidade" data-name="Cidade" maxlength="150" value="<?= $cfgcontato['@CIDADE']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">UF</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="uf" name="uf">
                                            <option value="">Selecione</option>
                                            <option value="AC" <?= $cfgcontato['@UF'] == 'AC' ? 'selected="selected"' : '' ?>>AC</option>
                                            <option value="AL" <?= $cfgcontato['@UF'] == 'AL' ? 'selected="selected"' : '' ?>>AL</option>
                                            <option value="AP" <?= $cfgcontato['@UF'] == 'AP' ? 'selected="selected"' : '' ?>>AP</option>
                                            <option value="AM" <?= $cfgcontato['@UF'] == 'AM' ? 'selected="selected"' : '' ?>>AM</option>
                                            <option value="BA" <?= $cfgcontato['@UF'] == 'BA' ? 'selected="selected"' : '' ?>>BA</option>
                                            <option value="CE" <?= $cfgcontato['@UF'] == 'CE' ? 'selected="selected"' : '' ?>>CE</option>
                                            <option value="DF" <?= $cfgcontato['@UF'] == 'DF' ? 'selected="selected"' : '' ?>>DF</option>
                                            <option value="ES" <?= $cfgcontato['@UF'] == 'ES' ? 'selected="selected"' : '' ?>>ES</option>
                                            <option value="GO" <?= $cfgcontato['@UF'] == 'GO' ? 'selected="selected"' : '' ?>>GO</option>
                                            <option value="MA" <?= $cfgcontato['@UF'] == 'MA' ? 'selected="selected"' : '' ?>>MA</option>
                                            <option value="MT" <?= $cfgcontato['@UF'] == 'MT' ? 'selected="selected"' : '' ?>>MT</option>
                                            <option value="MS" <?= $cfgcontato['@UF'] == 'MS' ? 'selected="selected"' : '' ?>>MS</option>
                                            <option value="MG" <?= $cfgcontato['@UF'] == 'MG' ? 'selected="selected"' : '' ?>>MG</option>
                                            <option value="PA" <?= $cfgcontato['@UF'] == 'PA' ? 'selected="selected"' : '' ?>>PA</option>
                                            <option value="PB" <?= $cfgcontato['@UF'] == 'PB' ? 'selected="selected"' : '' ?>>PB</option>
                                            <option value="PR" <?= $cfgcontato['@UF'] == 'PR' ? 'selected="selected"' : '' ?>>PR</option>
                                            <option value="PE" <?= $cfgcontato['@UF'] == 'PE' ? 'selected="selected"' : '' ?>>PE</option>
                                            <option value="PI" <?= $cfgcontato['@UF'] == 'PI' ? 'selected="selected"' : '' ?>>PI</option>
                                            <option value="RJ" <?= $cfgcontato['@UF'] == 'RJ' ? 'selected="selected"' : '' ?>>RJ</option>
                                            <option value="RN" <?= $cfgcontato['@UF'] == 'RN' ? 'selected="selected"' : '' ?>>RN</option>
                                            <option value="RS" <?= $cfgcontato['@UF'] == 'RS' ? 'selected="selected"' : '' ?>>RS</option>
                                            <option value="RO" <?= $cfgcontato['@UF'] == 'RO' ? 'selected="selected"' : '' ?>>RO</option>
                                            <option value="RR" <?= $cfgcontato['@UF'] == 'RR' ? 'selected="selected"' : '' ?>>RR</option>
                                            <option value="SC" <?= $cfgcontato['@UF'] == 'SC' ? 'selected="selected"' : '' ?>>SC</option>
                                            <option value="SP" <?= $cfgcontato['@UF'] == 'SP' ? 'selected="selected"' : '' ?>>SP</option>
                                            <option value="SE" <?= $cfgcontato['@UF'] == 'SE' ? 'selected="selected"' : '' ?>>SE</option>
                                            <option value="TO" <?= $cfgcontato['@UF'] == 'TO' ? 'selected="selected"' : '' ?>>TO</option>
                                        </select>
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">Telefone</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control maskFone" id="telefone" name="telefone" placeholder="Telefone" data-name="Telefone" maxlength="200" value="<?= $cfgcontato['@TELEFONE']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-1">CEP</label>
                                    <div class="col-sm-2">
                                        <input type="text" autocomplete="false" class="form-control maskCep" id="cep" name="cep" placeholder="CEP" data-name="CEP" maxlength="9" value="<?= $cfgcontato['@CEP']; ?>">
                                    </div>
                                    <label for="field-1" class="control-label col-sm-1">E-mail</label>
                                    <div class="col-sm-7">
                                        <input type="text" autocomplete="false" class="form-control" id="email" name="email" placeholder="E-mail" data-name="E-mail" maxlength="200" value="<?= $cfgcontato['@EMAIL_TECNICO']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane <?= $tabativa == 2 ? 'active' : '' ?>" id="2">
                    <form id="form-produto1" name="form-produto1" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/1' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Quem Somos</label>
                            <input type="hidden" id="idinfo1" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="sobrenos" name="sobrenos" placeholder="Sobre Nós" data-name="Sobre Nós" class="form-control">
                                    <?= $cfgcontato['@SOBRENOS'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto2" name="form-produto2" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/2' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Informação de entrega</label>
                            <input type="hidden" id="idinfo2" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="infoentrega" name="infoentrega" placeholder=">Informação de entrega" data-name=">Informação de entrega" class="form-control">
                                    <?= $cfgcontato['@INFOENTREGA'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto3" name="form-produto3" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/3' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Serviço ao Cliente</label>
                            <input type="hidden" id="idinfo3" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="servicocliente" name="servicocliente" placeholder="Serviço ao Cliente" data-name="Serviço ao Cliente" class="form-control">
                                    <?= $cfgcontato['@SERVICOCLIENTE'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto4" name="form-produto4" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/4' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Transporte e Retornos</label>
                            <input type="hidden" id="idinfo4" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="transpretorno" name="transpretorno" placeholder="Transporte e Retornos" data-name="Transporte e Retornos" class="form-control">
                                    <?= $cfgcontato['@TRANSRET'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto5" name="form-produto5" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/5' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Métodos de Pagamento</label>
                            <input type="hidden" id="idinfo5" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="metodospagamento" name="metodospagamento" placeholder="Métodos de Pagamento" data-name="Métodos de Pagamento" class="form-control">
                                    <?= $cfgcontato['@METODOSPAG'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto6" name="form-produto6" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/6' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Termos de Uso</label>
                            <input type="hidden" id="idinfo6" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="termosuso" name="termosuso" placeholder="Termos de Uso" data-name="Termos de Uso" class="form-control">
                                    <?= $cfgcontato['@TERMOSUSO'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form id="form-produto7" name="form-produto7" class="form-horizontal" role="form" method="post" action="<?= $urlactioninfo . '/7' ?>">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Política de Privacidade</label>
                            <input type="hidden" id="idinfo7" name="idinfo" value="<?= $cfgcontato['@IDINFO'] ?>" />
                            <div class="col-sm-10">
                                <textarea id="politicaprivacidade" name="politicaprivacidade" placeholder="Política de Privacidade" data-name="Política de Privacidade" class="form-control">
                                    <?= $cfgcontato['@POLITICA'] ?>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="submit" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane <?= $tabativa == 3 ? 'active' : '' ?>" id="3">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal form-groups-bordered" id="form_infosmtp" role="form" method="post" action="<?= $urlactionsmtp ?>">
                                <div class="form-group">
                                    <input type="hidden" id="idsmtp" name="idsmtp" value="<?= $cfgcontato['@IDSMTP'] ?>" />
                                    <label for="field-1" class="control-label col-sm-2">Host</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="host" name="host" placeholder="Host" data-name="Host" maxlength="150" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@SMTP_HOST']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Usuário</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="usuario" name="usuario" placeholder="Usuário" data-name="Usuário" data-verif="false" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@SMTP_USER']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Senha</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="senha" name="senha" placeholder="Senha" data-name="Senha" data-verif="false" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@SMTP_SENHA']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Porta</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="porta" name="porta" placeholder="Porta" data-name="Porta" maxlength="150" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@SMTP_PORTA']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Contato Padrão</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="contatopadrao" name="contatopadrao" placeholder="Contato Padrão" data-name="Contato Padrão" maxlength="150" value="<?= $cfgcontato['@NOME_CONTATO_DEFAULT']; ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field-1" class="control-label col-sm-2">Email do Contato Padrão</label>
                                    <div class="col-sm-4">
                                        <input type="text" autocomplete="false" class="form-control" id="emailcontatopadrao" name="emailcontatopadrao" placeholder="Email do Contato Padrão" data-name="Email do Contato Padrão" maxlength="150" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@MAIL_CONTATO_DEFAULT']); ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5 col-sm-offset-2">
                                        <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane <?= $tabativa == 4 ? 'active' : '' ?>" id="4">
                    <form id="form-imagens" name="form-imagens" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlactionimg ?>" enctype="multipart/form-data">
                        <input type="hidden" id="idimagens" name="idimagens" value="<?= $cfgcontato['@IDSMTP'] ?>" />
                        <?php if (isset($cfgcontato) && !empty($cfgcontato['@LOGOTIPO'])) { ?>
                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <a href="<?= SITE_URL . "/public_html/static/" . $cfgcontato['@LOGOTIPO'] ?>" data-lightbox="example-set" class="single_image">
                                            <img src="<?= SITE_URL . "/public_html/static/" . $cfgcontato['@LOGOTIPO'] ?>" class="img-fluid img-thumbnail" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Logotipo</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control file-foto" data-name="Logo" name="logotipo[]" id="foto" accept="image/*" data-verif="false" />
                            </div>
                        </div>
                        <?php if (isset($cfgcontato) && !empty($cfgcontato['@FAVICON'])) { ?>
                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-2">
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <a href="<?= SITE_URL . "/public_html/static/" . $cfgcontato['@FAVICON'] ?>" data-lightbox="example-set" class="single_image">
                                            <img src="<?= SITE_URL . "/public_html/static/" . $cfgcontato['@FAVICON'] ?>" class="img-fluid img-thumbnail" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Favicon</label>
                            <div class="col-sm-7">
                                <input type="file" class="form-control file-foto" data-name="favicon" name="favicon[]" id="favicon" accept="image/*" data-verif="false" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-2">
                                <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane <?= $tabativa == 5 ? 'active' : '' ?>" id="5">
                    <form class="form-horizontal form-groups-bordered" id="form_info_inte" name="form_info_inte" role="form" method="post" action="<?= $urlactionintegracao ?>">
                        <h3>Informações Relacionadas à Integração CETRUS</h3>
                        <div class="form-group">
                            <input type="hidden" name="idinfo" value="<?= $cfgcontato['@IDSMTP'] ?>" />
                            <label for="field-1" class="col-sm-3 control-label">IP de Comunicação</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="ip_integracao" name="ip_integracao" placeholder="IP Integração" data-name="IP Integração" maxlength="120" value="<?= $cfgcontato['@IP_INTEGRACAO'] ?>">
                            </div>
                        </div>
                        <h3>E-mail para envio de Notificações</h3>
                        <div class="form-group">
                            <input type="hidden" name="idinfo" value="<?= $cfgcontato['@IDSMTP'] ?>" />
                            <label for="field-1" class="col-sm-3 control-label">E-mail Notificação</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="email_notificaco" name="email_notificaco" placeholder="E-mail Notificação" data-name="E-mail Notificação" maxlength="120" value="<?= $cfgcontato['@EMAIL_REC_NOTIFICACOES'] ?>">
                            </div>
                        </div>
                        <h3>Padronização de Unidades de Medida - Correios</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Medida para Peso</label>
                            <div class="col-sm-5">
                                <select id="medida_peso" name="medida_peso" class="form-control ">
                                    <option value="mg" <?= $cfgcontato['@UNI_MED_PESO'] == 'mg' ? 'selected="selected"' : '' ?>>Miligrama (mg)</option>
                                    <option value="gr" <?= $cfgcontato['@UNI_MED_PESO'] == 'gr' ? 'selected="selected"' : '' ?>>Grama (g)</option>
                                    <option value="kg" <?= $cfgcontato['@UNI_MED_PESO'] == 'kg' ? 'selected="selected"' : '' ?>>Kilograma (kg)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Medida para Comprimento</label>
                            <div class="col-sm-5">
                                <select id="medida_tamanho" name="medida_tamanho" class="form-control ">
                                    <option value="mm" <?= $cfgcontato['@UNI_MED_TAM'] == 'mm' ? 'selected="selected"' : '' ?>>Milímetro (mm)</option>
                                    <option value="cm" <?= $cfgcontato['@UNI_MED_TAM'] == 'cm' ? 'selected="selected"' : '' ?>>Centímetro (cm)</option>
                                    <option value="m" <?= $cfgcontato['@UNI_MED_TAM'] == 'm' ? 'selected="selected"' : '' ?>>Metros (m)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Usuário</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="correio_usuario" name="correio_usuario" placeholder="Usuário" data-name="Usuário" data-verif="false" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CORREIO_USUARIO']) ?>" />
                            </div>
                            <label>(caso haja contrato com o correio)</label>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Senha</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="correio_senha" name="correio_senha" placeholder="Senha" data-name="Senha" data-verif="false" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CORREIO_SENHA']) ?>" />
                            </div>
                            <label>(caso haja contrato com o correio)</label>
                        </div>
                        <h3>Google Analitycs</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">TRACKING ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="tracking_id" name="tracking_id" placeholder="TRACKING ID" data-name="TRACKING ID" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@TRACKING_ID']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">SITE ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="site_id" name="site_id" placeholder="SITE ID" data-name="SITE ID" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@SITE_ID']) ?>" />
                            </div>
                        </div>
                        <h3>CAPTCHA</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">CHAVE</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="chave_captcha" name="chave_captcha" placeholder="CHAVE" data-name="CHAVE" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CHAVE_CAPTCHA']) ?>" />
                            </div>
                        </div>
                        <h3>Facebook</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">FACEBOOK ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="facebook_id" name="facebook_id" placeholder="FACEBOOK ID" data-name="FACEBOOK ID" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@FACEBOOK_ID']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">APP SECRET ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="app_secret_id" name="app_secret_id" placeholder="APP SECRET ID" data-name="APP SECRET ID" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@APP_SECRET_ID']) ?>" />
                            </div>
                        </div>
                        <h3>Cielo</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">MERCHANT ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="cielo_mechant_id" name="cielo_mechant_id" placeholder="MERCHANT ID" data-name="MERCHANT ID" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CIELO_MECHANT_ID']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">MERCHANT KEY</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="cielo_mechant_key" name="cielo_mechant_key" placeholder="MERCHANT KEY" data-name="MERCHANT KEY" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CIELO_MECHANT_KEY']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">CLIENT ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="cielo_client_id" name="cielo_client_id" placeholder="CLIENT ID" data-name="CLIENT ID" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@CIELO_CLIENT_ID']) ?>" />
                            </div>
                        </div>
                        <h3>PagSeguro</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">E-mail configurado</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_email" name="pagseg_email" placeholder="E-mail configurado" data-name="E-mail configurado" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_EMAIL']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Tipo de Envio</label>
                            <div class="col-sm-5">
                                <select id="pagseg_tipo_envio" name="pagseg_tipo_envio" class="form-control ">
                                    <option value="sandbox" <?= $cfgcontato['@PAGSEG_TIPO_ENVIO'] == 'sandbox' ? 'selected="selected"' : '' ?>>SANDBOX (TESTE)</option>
                                    <option value="production" <?= $cfgcontato['@PAGSEG_TIPO_ENVIO'] == 'production' ? 'selected="selected"' : '' ?>>PRODUÇÃO</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">SANDBOX - TOKEN</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_sand_token" name="pagseg_sand_token" placeholder="SANDBOX - TOKEN" data-name="SANDBOX - TOKEN" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_SAND_TOKEN']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">SANDBOX - APP ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_sand_app_id" name="pagseg_sand_app_id" placeholder="SANDBOX - APP ID" data-name="SANDBOX - APP ID" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_SAND_APP_ID']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">SANDBOX - APP KEY</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_sand_app_key" name="pagseg_sand_app_key" placeholder="SANDBOX - APP KEY" data-name="SANDBOX - APP KEY" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_SAND_APP_KEY']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">PRODUÇÃO - TOKEN</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_prd_token" name="pagseg_prd_token" placeholder="PRODUÇÃO - TOKEN" data-name="PRODUÇÃO - TOKEN" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_PRD_TOKEN']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">PRODUÇÃO - APP ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_prd_app_id" name="pagseg_prd_app_id" placeholder="PRODUÇÃO - APP ID" data-name="PRODUÇÃO - APP ID" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_PRD_APP_ID']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">PRODUÇÃO - APP KEY</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="pagseg_prd_app_key" name="pagseg_prd_app_key" placeholder="PRODUÇÃO - APP KEY" data-name="PRODUÇÃO - APP KEY" data-verif="false" maxlength="400" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@PAGSEG_PRD_APP_KEY']) ?>" />
                            </div>
                        </div>
                        <h3>Google Tag Manager</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">CHAVE ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="tag_manager_id" name="tag_manager_id" placeholder="CHAVE ID" data-name="CHAVE ID" data-verif="false" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@TAG_MANAGER_ID']) ?>" />
                            </div>
                        </div>
                        <h3>Acesso do Google para Integrações</h3>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Usuario</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="google_usuario" name="google_usuario" placeholder="Usuario" data-name="Usuario" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@GOOGLE_USUARIO']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 control-label">Senha</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="google_senha" name="google_senha" placeholder="Senha" data-verif="false" data-name="Senha" maxlength="120" value="<?= \santosdummont\Common::encrypt_decrypt('decrypt', $cfgcontato['@GOOGLE_SENHA']) ?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <button type="buttom" name="submit" class="btn btn-success form_submit"><?= $titleaction ?></button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane <?= $tabativa == 5 ? 'active' : '' ?>" id="6">
                    <form id="form-videos" name="form-videos" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlactionvideos ?>" enctype="multipart/form-data">
                        <h3>Vídeo de Boas Vindas</h3>
                        <input type="hidden" id="idvideos" name="idvideos" value="<?= $cfgcontato['@IDSMTP'] ?>" />
                        <?php if (isset($cfgcontato) && !empty($cfgcontato['@VIDEOBOASVINDAS'])) { ?>
                            <?php if (intval($cfgcontato['@TIPO_VIDEO_BV']) == 1) { ?>
                                <div class="form-group">
                                    <div class="col-sm-7 col-sm-offset-2">
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <video width="425" height="350" controls>
                                                <source src="<?= SITE_URL . "/public_html/static/videos/" . $cfgcontato['@VIDEOBOASVINDAS'] ?>" type="video/mp4">
                                                <source src="<?= SITE_URL . "/public_html/static/videos/" . $cfgcontato['@VIDEOBOASVINDAS'] ?>" type="video/ogg">
                                                Seu navegador não tem suporte para visualizar o vídeo.
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            <?php } else { ?>
                                <div class="form-group">
                                    <div class="col-sm-7 col-sm-offset-2">
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <object width="425" height="350">
                                                <param name="movie" value="<?= $cfgcontato['@VIDEOBOASVINDAS'] ?>" />
                                                <embed src="<?= $cfgcontato['@VIDEOBOASVINDAS'] ?>" type="application/x-shockwave-flash" width="425" height="350" />
                                            </object>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-3 form-group">
                                <select name="tipovideo" id="tipovideo" data-name="Tipo" class="form-control">
                                    <option value="1" <?= intval($cfgcontato['@TIPO_VIDEO_BV']) == 1 ? 'selected' : ''; ?>>Link</option>
                                    <option value="2" <?= intval($cfgcontato['@TIPO_VIDEO_BV']) == 2 ? 'selected' : ''; ?>>Arquivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group opcoes hide" id="tipo-2">
                            <label for="field-1" class="col-sm-2 control-label">Vídeo</label>
                            <div class="col-sm-7 form-group">
                                <input type="file" class="form-control file-foto" data-name="Vídeo Boas vindas" name="videobv[]" id="video-file" accept="video/mp4,video/ogg" data-verif="false" />
                                <label>Formatos: mp4 ou ogg de até 3 mb</label>
                            </div>
                        </div>
                        <div class="form-group opcoes" id="tipo-1">
                            <label for="field-1" class="col-sm-2 control-label">Vídeo</label>
                            <div class="col-sm-7 form-group">
                                <input type="text" class="form-control" data-name="Vídeo Boas vindas" name="videobvlink" id="video-link" data-verif="false" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function($) {

        tinymce.init({
            selector: 'textarea',
            language: 'pt_BR',
            theme: 'modern',
            editor_selector: "htmlField",
            code_dialog_width: 1000,
            plugin_preview_height: 650,
            plugin_preview_width: 1000,
            paste_data_images: true,
            automatic_uploads: false,
            relative_urls: false,
            remove_script_host: false,
            image_advtab: true,
            imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking powerpaste",
                "table contextmenu directionality emoticons template textcolor fullpage textcolor colorpicker responsivefilemanager textpattern"
            ],
            toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect | cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor | table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'
            ],
            menubar: true,
            toolbar_items_size: 'small',
            fullpage_default_doctype: "<!DOCTYPE html>",
            external_filemanager_path: "<?= JS_TINYMCE_URL ?>/filemanager/",
            filemanager_title: "Gerenciador de arquivos",
            external_plugins: {
                "filemanager": "filemanager/plugin.min.js"
            },
            powerpaste_allow_local_images: true,
            powerpaste_word_import: 'prompt',
            powerpaste_html_import: 'prompt',
            style_formats: [{
                title: 'Bold text',
                inline: 'b'
            }, {
                title: 'Red text',
                inline: 'span',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Red header',
                block: 'h1',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Example 1',
                inline: 'span',
                classes: 'example1'
            }, {
                title: 'Example 2',
                inline: 'span',
                classes: 'example2'
            }, {
                title: 'Table styles'
            }, {
                title: 'Table row 1',
                selector: 'tr',
                classes: 'tablerow1'
            }],
            templates: [{
                title: 'Test template 1',
                content: 'Test 1'
            }, {
                title: 'Test template 2',
                content: 'Test 2'
            }],
            init_instance_callback: function() {
                window.setTimeout(function() {
                    $("#div").show();
                }, 1000);
            }
        });
    });
</script>
