<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= SITE_URL . '/' . $controller . '/Rede' ?>" class="btn btn-green btn-lg">Cadastrar Nova Rede Social</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listaredes as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['RS_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['RS_NOME'] ?></td>
                            <td class="sorting_1"><?= $row['RS_DESC'] ?></td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Rede/' . $row['RS_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_perfil" data-id="<?= $row['RS_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
