<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= SITE_URL . '/' . $controller . '/MeioPagamento' ?>" class="btn btn-green btn-lg">Cadastrar Novo Meio de Pagamento</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Imagem</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listameios as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['MEIO_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['NOME_MEIO'] ?></td>
                            <td class="sorting_1"><?= intval($row['MP_STATUS']) == 0 ? 'Inativo' : 'Ativo' ?></td>
                            <td style="width: 180px">
                                <div class="col-md-8">
                                    <a href="<?= SITE_URL . "/public_html/static/img/meiospagamentos/" . $row['IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                                        <img src="<?= SITE_URL . "/public_html/static/img/meiospagamentos/" . $row['IMAGEM'] ?>" class="img-fluid img-thumbnail-n" />
                                    </a>
                                </div>
                            </td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/MeioPagamento/' . $row['MEIO_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_op_pagamento" data-id="<?= $row['MEIO_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
