<div class="row">
    <div class="col-sm-7 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= PASTAMODELOS_URL . '/modelo_importacao_fabricantes.xls' ?>" target="_blank" class="btn btn-black btn-lg" data-toggle="tooltip" data-placement="top" title="Download do Modelo"><i class="fa fa-cloud-download"></i></a>
        <a href="#importacaoModal" data-toggle="modal" class="btn btn-default btn-lg btn_upload" data-toggle="tooltip" data-placement="top" title="Importar Dados"><i class="fa fa-cloud-upload"></i></a>
        <a href="<?= SITE_URL . '/' . $controller . '/Fabricante' ?>" class="btn btn-green btn-lg">Cadastrar Novo Fabricante</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Nome</th>
                        <th>Exibir no Site</th>
                        <th>Status</th>
                        <th>Logo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listafabricante as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['PAR_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['PAR_NOME'] ?></td>
                            <td class="sorting_1"><?= intval($row['PAR_EXIBIR_SITE']) == 0 ? 'Não' : 'Sim' ?></td>
                            <td class="sorting_1"><?= intval($row['PAR_STATUS']) == 0 ? 'Inativo' : 'Ativo' ?></td>
                            <td style="width: 180px">
                                <div class="col-md-8">
                                    <a href="<?= SITE_URL . "/public_html/static/fotoparceiro/" . $row['IMAGEM'] ?>" data-lightbox="example-set" class="single_image">
                                        <img src="<?= SITE_URL . "/public_html/static/fotoparceiro/" . $row['IMAGEM'] ?>" class="img-fluid img-thumbnail"/>
                                    </a>
                                </div>
                            </td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Fabricante/' . $row['PAR_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_parceiro" data-id="<?= $row['PAR_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/AtivaInativa/' . $row['PAR_ID'] . '/0' ?>" class="btn btn-xs btn-black par_change_status" data-toggle="tooltip" data-placement="top" title="Inativar">
                                    <i class="entypo-lock"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/AtivaInativa/' . $row['PAR_ID'] . '/1' ?>" class="btn btn-xs btn-green par_change_status" data-toggle="tooltip" data-placement="top" title="Ativar">
                                    <i class="entypo-lock-open"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
