<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-sm">
            Voltar
            <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="tab-text nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#info">Informações Básicas</a></li>
            <li><a data-toggle="tab" href="#tec">Informações Técnicas</a></li>
            <li><a data-toggle="tab" href="#img">Imagens dos Produtos</a></li>
        </ul>
        <form id="form-produto" name="form-produto" class="form-horizontal form-groups-bordered" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
            <div class="tab-content tab-info-prod">
                <div id="info" class="tab-pane fade in active">
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Nome</label>
                        <div class="col-sm-8">
                            <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Nome" data-name="Nome" maxlength="120">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Unidade</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" placeholder="Unidade" data-name="Nome" id="unidade" name="unidade">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">SKU</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control skumask" placeholder="SKU" id="sku" name="sku" data-verif="false">
                        </div>
                        <div class="col-sm-3">
                            <a href="#" class="btn btn-black btn-sm" id="bt_buscar_cetrus">Buscar na Base da Cetrus</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="status" name="status" data-name="Status">
                                <option value="2">Inativo</option>
                                <option value="1">Ativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Selecione as Categorias</label>
                        <div class="col-sm-5">
                            <a href="#" id="selecionar" class="btn btn-xs btn-info">Selecionar</a>
                            <select id="multi-selecao" name="multi-selecao" class="form-control multselect" data-verif="false" multiple="multiple">
                                <?php foreach ($listacategorias as $row) { ?>
                                    <option value="<?php echo $row['CAT_ID'] ?>"><?php echo $row['CAT_NOME'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="#" id="limpartudo" class="btn btn-xs btn-danger">Limpar Tudo</a>
                            <a href="#" id="limparselects" class="btn btn-xs btn-orange">Remover Selecionados</a>
                            <select id="categorias" name="categorias[]" class="form-control multselect" data-verif="false" data-name="Categoria" multiple="multiple">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <h5>Preços</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Preço</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control valor" id="preco" name="preco" placeholder="Preço" data-name="Preço" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-2 control-label">Preço Anterior</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control valor" id="preco_anterior" name="preco_anterior" placeholder="Preço Anterior" data-verif="false" data-name="Preço Anterior" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Taxa %</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control percentual" id="taxa" name="taxa" placeholder="Taxa" data-verif="false" data-name="Taxa" maxlength="120">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <h5>Estoque</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Qtde. em Estoque</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control numbers" id="qtde_estoque" name="qtde_estoque" placeholder="Qtde. em Estoque" data-verif="false" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-2 control-label">Qtde. Mínima</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control numbers" id="qtde_minima" name="qtde_minima" placeholder="Qtde. em Estoque" data-verif="false" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Destaque</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="destaque" name="destaque" data-name="Tipo de Destaque" data-verif="false">
                                <option value="0">Sem destaque</option>
                                <option value="1">Produto Novo</option>
                                <option value="2">Produto com desconto</option>
                                <option value="3">Em breve</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <a href="#tec" class="btn btn-blue btn-icon navtabs" data-area="info">
                                Próximo
                                <i class="entypo-right-open-big"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tec" class="tab-pane fade">
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Nome Técnico</label>
                        <div class="col-sm-5">
                            <input autocomplete="off" type="text" class="form-control" id="nome_tecnico" name="nome_tecnico" placeholder="Nome Técnico" data-name="Nome Técnico" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Tags</label>
                        <div class="col-sm-4">
                            <input autocomplete="off" type="text" class="form-control" id="tags" name="tags" placeholder="Tags" data-verif="false" data-name="Tags" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Modelo</label>
                        <div class="col-sm-5">
                            <input autocomplete="off" type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" data-verif="false" data-name="Modelo" maxlength="120">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Marca</label>
                        <div class="col-sm-4">
                            <input autocomplete="off" type="text" class="form-control" id="marca" name="marca" placeholder="Marca" data-name="Marca" maxlength="120">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Comprimento</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="comprimento" name="comprimento" placeholder="Comprimento (cm)" data-verif="false" data-name="Comprimento" maxlength="20">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Largura</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="largura" name="largura" placeholder="Largura (cm)" data-verif="false" data-name="Largura" maxlength="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Altura</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="altura" name="altura" placeholder="Altura (cm)" data-verif="false" data-name="Altura" maxlength="20">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Profundidade</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="profundidade" name="profundidade" placeholder="Profundidade (cm)" data-verif="false" data-name="Profundidade" maxlength="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Peso</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control percentual" id="peso" name="peso" placeholder="Peso (gr)" data-verif="false" data-name="Peso" maxlength="20">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Voltagem</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="voltagem" name="voltagem" placeholder="Voltagem" data-verif="false" data-name="Voltagem" maxlength="200">
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Cor</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="cor" name="cor" placeholder="Cor" data-verif="false" data-name="Cor" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Fabricante</label>
                        <div class="col-sm-5">
                            <select id="parceiro" name="parceiro" class="form-control" data-verif="false">
                                <option value="">Selecione</option>
                                <?php foreach ($listafabricantes as $row) { ?>
                                    <option value="<?php echo $row['PAR_ID'] ?>"><?php echo strtoupper($row['PAR_NOME']) ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Descrição Mínima</label>
                        <div class="col-sm-10">
                            <textarea id="descricao" name="descricao" placeholder="Descrição Mínima" data-name="Descrição Mínima" data-editor="true" class="form-control editor-descr"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Ficha Técnica</label>
                        <div class="col-sm-10">
                            <textarea id="ficha_tecnica" name="ficha_tecnica" placeholder="Ficha Técnica" data-name="Ficha Técnica" data-editor="true" class="form-control editor-ficha"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <a href="#info" class="btn btn-danger btn-icon icon-left navtabs">
                                <i class="entypo-left-open-big"></i>
                                Anterior
                            </a>
                            <a href="#img" class="btn btn-blue btn-icon navtabs" data-area="tec">
                                Próximo
                                <i class="entypo-right-open-big"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="img" class="tab-pane fade">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <strong>Obs.: Tamanho Máximo: 4 Mb - Largura Máxima: 800px - Altura Máxima: 700px</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="dropzone dropcad" name="fotos" multiple></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <a href="#tec" class="btn btn-danger btn-icon icon-left navtabs">
                                <i class="entypo-left-open-big"></i>
                                Anterior
                            </a>
                            <button type="submit" id="submit-all" name="submit" class="btn btn-success btn-icon btn-large form_submit_prd_cad">
                                <i class="entypo-check"></i>
                                <?= $acaobotao ?>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
