<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-4 text-right">
        <a href="<?= $urlsync ?>" class="btn btn-black btn-sm">Sincronizar Estoque - CETROS</a>
        <button type="button" onclick="javascript:history.back()" class="btn btn-red btn-icon btn-sm">
            Voltar <i class="entypo-back-in-time"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="tab-text nav nav-tabs">
            <li class="<?= (empty(santosdummont\Session::get('tab_edit'))) ? 'active' : (santosdummont\Session::get('tab_edit') == 1) ? 'active' : '' ?>"><a data-toggle="tab" href="#info">Informações Básicas</a></li>
            <li class="<?= santosdummont\Session::get('tab_edit') == 2 ? 'active' : '' ?>"><a data-toggle="tab" href="#tec">Informações Técnicas</a></li>
            <li class="<?= santosdummont\Session::get('tab_edit') == 3 ? 'active' : '' ?>"><a data-toggle="tab" href="#img">Imagens dos Produtos</a></li>
        </ul>
        <div class="tab-content tab-info-prod">
            <div id="info" class="tab-pane fade in <?= (empty(santosdummont\Session::get('tab_edit'))) ? 'active in' : (santosdummont\Session::get('tab_edit') == 1) ? 'active' : '' ?>">
                <form id="form-produto-info" name="form-produto-info" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Nome</label>
                        <input type="hidden" id="form_tipo" name="form_tipo" value="1" />
                        <div class="col-sm-8">
                            <?php if (isset($produto)) { ?>
                                <input type="hidden" name="id" value="<?= $produto['PRD_ID'] ?>" />
                            <?php } ?>
                            <input autocomplete="off" type="text" class="form-control" id="nome" name="nome" placeholder="Nome" data-name="Nome" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_NOME'] . '"' : '' ?>>
                        </div>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control skumask" id="sku" name="sku" data-verif="false" <?= isset($produto) ? 'value="' . $produto['PRD_SKU'] . '"' : '' ?> readonly="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Unidade</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" placeholder="Unidade" data-name="Nome" id="unidade" name="unidade" <?= isset($produto) ? 'value="' . $produto['PRD_UNIDADE'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Status</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="status" name="status" data-name="Status">
                                <option value="2" <?= isset($produto) ? $produto['PRD_STATUS'] == '2' ? 'selected' : '' : '' ?>>Inativo</option>
                                <option value="1" <?= isset($produto) ? $produto['PRD_STATUS'] == '1' ? 'selected' : '' : '' ?>>Ativo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Selecione as Categorias</label>
                        <div class="col-sm-5">
                            <a href="#" id="selecionar" class="btn btn-xs btn-info">Selecionar</a>
                            <select id="multi-selecao" name="multi-selecao" class="form-control multselect" data-verif="false" multiple="multiple">
                                <?php foreach ($listacategorias as $row) { ?>
                                    <option value="<?php echo $row['CAT_ID'] ?>"><?php echo $row['CAT_NOME'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="#" id="limpartudo" class="btn btn-xs btn-danger">Limpar Tudo</a>
                            <a href="#" id="limparselects" class="btn btn-xs btn-orange">Remover Selecionados</a>
                            <select id="categorias" name="categorias[]" class="form-control multselect" data-verif="false" data-name="Categoria" multiple="multiple">
                                <?php foreach ($listacategoriasproduto as $row) { ?>
                                    <option value="<?= $row['CAT_ID'] ?>" selected><?= $row['CAT_NOME'] ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <h5>Preços</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Preço</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control valor" id="preco" name="preco" placeholder="Preço" data-name="Preço" maxlength="120" <?= isset($produto) ? 'value="' . number_format($produto['PRD_PRECO'], 2, ',', '.') . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-2 control-label">Preço Anterior</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control valor" id="preco_anterior" name="preco_anterior" placeholder="Preço Anterior" data-verif="false" data-name="Preço Anterior" maxlength="120" <?= isset($produto) ? 'value="' . number_format($produto['PRD_PRECO_ANTERIOR'], 2, ',', '.') . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Taxa %</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control percentual" id="taxa" name="taxa" placeholder="Taxa" data-verif="false" data-name="Taxa" maxlength="120" <?= isset($produto) ? 'value="' . number_format($produto['PRD_TAXA'], 2, ',', '.') . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <h5>Estoque</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Qtde. em Estoque</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control numbers" id="qtde_estoque" name="qtde_estoque" placeholder="Qtde. em Estoque" data-verif="false" data-name="Qtde. em Estoque" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_QTDE_ESTOQUE'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-2 control-label">Qtde. Mínima</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control numbers" id="qtde_minima" name="qtde_minima" placeholder="Qtde. em Estoque" data-verif="false" data-name="Qtde. em Estoque" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_QTDE_MINIMA'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Destaque</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="destaque" name="destaque" data-name="Tipo de Destaque">
                                <option value="0" <?= intval($produto['PRD_DESTAQUE']) == 0 ? 'selected="selected"' : '' ?>>Sem destaque</option>
                                <option value="1" <?= intval($produto['PRD_DESTAQUE']) == 1 ? 'selected="selected"' : '' ?>>Produto Novo</option>
                                <option value="2" <?= intval($produto['PRD_DESTAQUE']) == 2 ? 'selected="selected"' : '' ?>>Produto com desconto</option>
                                <option value="3" <?= intval($produto['PRD_DESTAQUE']) == 3 ? 'selected="selected"' : '' ?>>Em breve</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-2">
                            <button type="submit" name="submit" class="btn btn-success form_submit"><?= $acaobotao ?></button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="tec" class="tab-pane fade <?= santosdummont\Session::get('tab_edit') == 2 ? 'active in' : '' ?>">
                <form id="form-produto-tec" name="form-produto-tec" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Nome Técnico</label>
                        <div class="col-sm-5">
                            <input autocomplete="off" type="text" class="form-control" id="nome_tecnico" name="nome_tecnico" placeholder="Nome Técnico" data-name="Nome Técnico" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_NOME_TECNICO'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Tags</label>
                        <div class="col-sm-4">
                            <input autocomplete="off" type="text" class="form-control" id="tags" name="tags" placeholder="Tags" data-verif="false" data-name="Tags" maxlength="200" <?= isset($produto) ? 'value="' . $produto['PRD_TAGS'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="form_tipo" value="2" />
                        <?php if (isset($produto)) { ?>
                            <input type="hidden" name="id" value="<?= $produto['PRD_ID'] ?>" />
                        <?php } ?>
                        <label for="field-1" class="col-sm-2 control-label">Modelo</label>
                        <div class="col-sm-5">
                            <input autocomplete="off" type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" data-verif="false" data-name="Modelo" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_MODELO'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Marca</label>
                        <div class="col-sm-4">
                            <input autocomplete="off" type="text" class="form-control" id="marca" name="marca" placeholder="Marca" data-name="Marca" maxlength="120" <?= isset($produto) ? 'value="' . $produto['PRD_MARCA'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Comprimento</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="comprimento" name="comprimento" placeholder="Comprimento (cm)" data-verif="false" data-name="Comprimento" maxlength="20" <?= isset($produto) ? 'value="' . $produto['PRD_COMPRIMENTO'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Largura</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="largura" name="largura" placeholder="Largura (cm)" data-verif="false" data-name="Largura" maxlength="20" <?= isset($produto) ? 'value="' . $produto['PRD_LARGURA'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Altura</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="altura" name="altura" placeholder="Altura (cm)" data-verif="false" data-name="Altura" maxlength="20" <?= isset($produto) ? 'value="' . $produto['PRD_ALTURA'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Profundidade</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="profundidade" name="profundidade" placeholder="Profundidade (cm)" data-verif="false" data-name="Profundidade" maxlength="20" <?= isset($produto) ? 'value="' . $produto['PRD_PROFUNDIDADE'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Peso</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control percentual" id="peso" name="peso" placeholder="Peso (gr)" data-verif="false" data-name="Peso" maxlength="20" <?= isset($produto) ? 'value="' . $produto['PRD_PESO'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Voltagem</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="voltagem" name="voltagem" placeholder="Voltagem" data-verif="false" data-name="Voltagem" maxlength="200" <?= isset($produto) ? 'value="' . $produto['PRD_VOLTAGEM'] . '"' : '' ?>>
                        </div>
                        <label for="field-1" class="col-sm-1 control-label">Cor</label>
                        <div class="col-sm-2">
                            <input autocomplete="off" type="text" class="form-control" id="cor" name="cor" placeholder="Cor" data-verif="false" data-name="Cor" maxlength="200" <?= isset($produto) ? 'value="' . $produto['PRD_COR'] . '"' : '' ?>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Fabricante</label>
                        <div class="col-sm-5">
                            <select id="parceiro" name="parceiro" class="form-control" data-verif="false">
                                <option value="">Selecione</option>
                                <?php foreach ($listafabricantes as $row) { ?>
                                    <option value="<?php echo $row['PAR_ID'] ?>" <?= intval($row['PAR_ID']) == intval($produto['PAR_ID']) ? 'selected="selected"' : '' ?>><?php echo strtoupper($row['PAR_NOME']) ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Descrição Mínima</label>
                        <div class="col-sm-10">
                            <textarea id="descricao" name="descricao" placeholder="Descrição Mínima" data-name="Descrição Mínima" data-editor="true" class="form-control editor-descr">
                                <?= isset($produto) ? $produto['PRD_DESCRICAO_MINIMA'] : '' ?>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field-1" class="col-sm-2 control-label">Ficha Técnica</label>
                        <div class="col-sm-10">
                            <textarea id="ficha_tecnica" name="ficha_tecnica" placeholder="Ficha Técnica" data-name="Ficha Técnica" data-editor="true" class="form-control editor-ficha">
                                <?= isset($produto) ? $produto['PRD_FICHA_TECNICA'] : '' ?>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-2">
                            <button type="submit" name="submit" class="btn btn-success form_submit"><?= $acaobotao ?></button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="img" class="tab-pane fade <?= santosdummont\Session::get('tab_edit') == 3 ? 'active in' : '' ?>">
                <form id="form-produto-img" name="form-produto-img" method="post" action="<?= $urlaction ?>" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="form_tipo" value="3" />
                        <?php if (isset($produto)) { ?>
                            <input type="hidden" id="id" name="id" value="<?= $produto['PRD_ID'] ?>" />
                        <?php } ?>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <strong>Obs.: Tamanho Máximo: 4 Mb - Largura Máxima: 800px - Altura Máxima: 700px</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="dropzone dropedit" name="fotos" multiple></div>
                            </div>
                        </div>
                        <?php
                        $arrimg = [];

                        if (array_key_exists('IMAGEM', $fotosproduto[0])) {
                            foreach ($fotosproduto as $row) {
                                array_push($arrimg, $row['IMAGEM']);
                            }
                        }

                        ?>
                        <input type="hidden" name="pasta_imagens" id="pasta_imagens" data-name="Pasta Imagens" data-verif="false" value="<?= $produto['PASTA_IMAGENS'] ?>" />
                        <div class="form-group div-imagens">
                            <?php if (isset($produto)) { ?>
                                <?php if (array_key_exists('IMAGEM', $fotosproduto[0])) { ?>
                                    <input type="hidden" name="imagens" id="imagens" data-name="Imagens" value="<?= implode(',', $arrimg); ?>" />
                                    <?php foreach ($fotosproduto as $row) {

                                        $imagemproduto = \santosdummont\Common::imagem_existe($produto['PASTA_IMAGENS'], $row['IMAGEM'], 2);

                                        if (!empty($imagemproduto)) {
                                    ?>
                                            <div class="col-md-2 col-sm-3 col-xs-6">
                                                <a href="<?= SITE_URL . $imagemproduto ?>" data-lightbox="example-set" class="single_image">
                                                    <img src="<?= SITE_URL . $imagemproduto ?>" class="img-fluid img-thumbnail" />
                                                </a>
                                                <a href="<?= SITE_URL . '/' . $controller . '/ExcluirImagem' ?>" class="btn btn-xs btn-red deletar_imagem" data-prd="<?= $produto['PRD_ID'] ?>" data-img="<?= $row['IMAGEM'] ?>" title="Excluir">
                                                    <i class="entypo-trash"></i>
                                                </a>
                                                <div class="img_principal">
                                                    <label>Imagem Principal <input type="radio" class="set_imag_princ" name="imagem_principal" data-action="<?= SITE_URL . '/' . $controller . '/SetarImagemPrincipal' ?>" data-prd="<?= $produto['PRD_ID'] ?>" value="<?= $row['IMAGEM'] ?>" <?= intval($row['PRINCIPAL']) == 1 ? 'checked="checked"' : '' ?>></label>
                                                </div>
                                            </div>
                            <?php
                                        }
                                    }
                                }
                            } ?>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="submit" id="submit-all" name="submit" class="btn btn-success form_submit_prd" disabled><?= $acaobotao ?></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
