<div class="row">
    <div class="col-sm-7">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-5 text-right">
        <a href="<?= PASTAMODELOS_URL . '/modelo_importacao_categorias.xls' ?>" target="_blank" class="btn btn-black btn-lg" data-toggle="tooltip" data-placement="top" title="Download do Modelo"><i class="fa fa-cloud-download"></i></a>
        <a href="#importacaoModal" data-toggle="modal" class="btn btn-default btn-lg btn_upload" data-toggle="tooltip" data-placement="top" title="Importar Produtos"><i class="fa fa-cloud-upload"></i></a>
        <a href="<?= SITE_URL . '/' . $controller . '/Categoria' ?>" class="btn btn-green btn-lg">Cadastrar Categoria</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table class="table table-bordered table-striped datatable table-pages">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Categoria Pai</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listacategorias as $row) { ?>
                        <tr>
                            <td class="id sorting_1">
                                <?= $row['CAT_ID'] ?>
                            </td>
                            <td class="sorting_1"><?= $row['CAT_NOME'] ?></td>
                            <td class="sorting_1"><?= $row['CAT_STATUS'] ?></td>
                            <td class="sorting_1"><?= $row['CAT_PAI'] ?></td>
                            <td class="acoes">
                                <a href="<?= SITE_URL . '/' . $controller . '/Categoria/' . $row['CAT_ID'] ?>" class="btn btn-xs btn-orange" data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Excluir' ?>" class="btn btn-xs btn-red deletar_categoria" data-id="<?= $row['CAT_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="entypo-trash"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/RemoveImagem' ?>" class="btn btn-xs btn-red deletar_img_categoria" data-id="<?= $row['CAT_ID'] ?>" data-toggle="tooltip" data-placement="top" title="Remover Imagem">
                                    <i class="entypo-picture"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/AtivaInativa/' . $row['CAT_ID'] . '/0' ?>" class="btn btn-xs btn-black cat_change_status" data-toggle="tooltip" data-placement="top" title="Inativar">
                                    <i class="entypo-lock"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/AtivaInativa/' . $row['CAT_ID'] . '/1' ?>" class="btn btn-xs btn-green cat_change_status" data-toggle="tooltip" data-placement="top" title="Ativar">
                                    <i class="entypo-lock-open"></i>
                                </a>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script>
    jQuery(document).ready(function ($) {

    });
</script>