<div class="row">
    <div class="col-sm-4">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-8 text-right">
        <a href="<?= PASTAMODELOS_URL . '/modelo_importacao_produtos.xls' ?>" target="_blank" class="btn btn-black btn-lg" data-toggle="tooltip" data-placement="top" title="Download do Modelo"><i class="fa fa-cloud-download"></i></a>
        <a href="#importacaoModal" data-toggle="modal" class="btn btn-default btn-lg btn_upload" data-toggle="tooltip" data-placement="top" title="Importar Produtos"><i class="fa fa-cloud-upload"></i></a>
        <a href="<?= $urlsync ?>" class="btn btn-black btn-lg">Sincronizar Produtos </a>
        <a href="<?= URL_SITE ?>\<?= $controller ?>\Produto" class="btn btn-green btn-lg">Cadastrar Produto</a>
    </div>
</div>
<div class="row">
    <form id="form-produto" name="form-produto" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-1 text-right">
                <h3><strong>Filtro</strong></h3>
            </div>
        </div>
        <div class="form-group">
            <label for="busca_titulo" class="col-sm-1 control-label">Título:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="busca_titulo" name="busca_titulo" placeholder="Buscar Título">
            </div>
            <label for="busca_categoria" class="col-sm-1 control-label">Categoria:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="busca_categoria" name="busca_categoria" placeholder="Buscar Categoria">
            </div>
            <label for="busca_sku" class="col-sm-1 control-label">SKU:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control skumask" id="busca_sku" name="busca_sku" placeholder="Buscar SKU">
            </div>
        </div>
        <div class="form-group">
            <label for="busca_status" class="col-sm-1 control-label">Status:</label>
            <div class="col-sm-3">
                <select class="form-control" id="busca_status" name="busca_status">
                    <option value="3">Todos</option>
                    <option value="1">Ativo</option>
                    <option value="2">Inativo</option>
                </select>
            </div>
            <label for="busca_data" class="col-sm-2 control-label">Produto em Estoque:</label>
            <div class="col-sm-3">
                <select class="form-control" id="em_estoque" name="em_estoque">
                    <option value="2">Todos</option>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn form-control btn-block btn-success" value="Buscar" id="btnbuscar" />
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer tb-prod">
            <table id="tb-produtos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="sorting_1 wd50"></th>
                        <th class="sorting_1 wd300">Nome</th>
                        <th class="sorting_1 wd60">Status</th>
                        <th class="sorting_1 wd60">Estoque</th>
                        <th class="sorting_1 wd60">SKU</th>
                        <th class="sorting_1 wd80">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
