<div class="row">
    <div class="col-sm-8">
        <h2><?= $titulopagina ?></h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input type="hidden" name="form_tipo" value="3" />
            <div class="form-group" style="color: red;">
                <div class="col-sm-12 text-center">
                    <strong>Observações: </br>É importante que as imagens arrastadas estejam nomeadas de acordo com o código do produto<br />Caso contrário a mesma não será publicada.<br />Também deve ser seguida as especificações de tamanho e dimenções logo abaixo</strong>
                </div>
                <div class="col-sm-12 text-center margin-top-10">
                    <strong>Tamanho Máximo por imagem: 4 Mb<br />Largura Máxima por imagem: 800px<br />Altura Máxima por imagem: 700px<br />Formatos aceitos: jpeg, jpg e png</strong>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="dropzone" name="fotos" multiple></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <button type="button" id="btnupload" class="form-control btn btn-success"><?= $acaobotao ?></button>
                </div>
            </div>
        </div>
    </div>
</div>
