<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title><?= TITLE_SITE ?></title>

    <link rel="stylesheet" href="<?= CSS_JQUERY_UI_URL ?>/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="<?= CSS_FONT_ENTYPO_URL ?>/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="<?= CSS_DATAPICKER_URL ?>/style.css" rel="stylesheet">
    <link rel="stylesheet" href="<?= CSS_BOOTSTRAP_URL ?>/bootstrap.css">
    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-core.css">
    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-theme.css">
    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-forms.css">
    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/custom.css">
    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/waitMe.css" />

    <link rel="stylesheet" href="<?= CSS_LIGHTBOX ?>/lightbox.min.css">

    <link href="<?= JS_FANCYBOX ?>/source/jquery.fancybox.css" rel="stylesheet">

    <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/estilo.css" />

    <link href="<?= URL_CSS_UIKIT_PATH ?>/uikit-2.27.2.css" rel="stylesheet" />
    <link href="<?= URL_CSS_UIKIT_PATH ?>/notify-2.27.2.css" rel="stylesheet" />
    <link href="<?= URL_CSS_UIKIT_PATH ?>/customUkit.css" rel="stylesheet" />

    <script src="<?= JS_JQUERY_URL ?>/jquery-1.11.0.min.js"></script>

    <link rel="shortcut icon" type="image/png" href="<?= SITE_URL . "/public_html/static/" . $config['@FAVICON'] ?>" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <?php if (strtolower($controller) == "relatorios") { ?>
        <link href="<?= URL_CSS_DATATABLE ?>/dataTable.min.css" rel="stylesheet" />
        <link href="<?= URL_CSS_DATATABLE ?>/buttons.dataTables.min.css" rel="stylesheet" />
        <link href="<?= CSS_GLOBAL_URL ?>/relatorios.css" rel="stylesheet" />
    <?php } ?>

    <link href="<?= URL_CSS_DATATABLE ?>/select.dataTables.min.css" rel="stylesheet" />

    <script src="<?= JS_GLOBAL_URL ?>/bootbox.min.js?randon=<?= uniqid() ?>"></script>
    <script src="<?= JS_GLOBAL_URL ?>/jscolor.min.js?randon=<?= uniqid() ?>"></script>

    <script src="<?= JS_GLOBAL_URL ?>/push.min.js?randon=<?= uniqid() ?>"></script>

    <script>
        $.noConflict();
    </script>

    <?php

    function UrlAtual()
    {
        $url = filter_input(INPUT_SERVER, 'REQUEST_URI');
        return $url;
    }

    ?>

    <?php if (($controller == "Produtos" && $metodo == "Produto") || ($controller == "ImagensLote")) { ?>
        <link rel="stylesheet" href="<?= URL_CSS_PLUGIN_UPLOAD_URL ?>/basic.css" />
        <link rel="stylesheet" href="<?= URL_CSS_PLUGIN_UPLOAD_URL ?>/dropzone.css" />
        <script src="<?= JS_PLUGIN_UPLOAD_URL . '/dropzone.js' ?>"></script>
    <?php } ?>
    <script>
        let caminho = "<?= SITE_URL; ?>";
        let logosite = "<?= SITE_URL . "/public_html/static/" . $config['@LOGOTIPO'] ?>";
    </script>
</head>

<body class="page-body page-fade-init">
    <div class="Alertas uk-notify uk-notify-top-right">
        <?php if (santosdummont\Session::get("acao")) { ?>
            <div class="alert uk-notify-message uk-notify-message-<?= santosdummont\Session::get("acao-class"); ?>">
                <a class="uk-close"></a>
                <div>
                    <?= santosdummont\Session::get("acao-msg") ?>
                </div>
            <?php
            santosdummont\Session::delete("acao");
            santosdummont\Session::delete("erro-login");
            santosdummont\Session::delete("acao-msg");
        }

            ?>
            </div>
    </div>

    <div class="page-container">
