<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="<?= SITE_URL . "/public_html/static/" . $config['FAVICON'] ?>"/>

        <title><?= TITLE_SITE ?></title>

        <link rel="stylesheet" href="<?= CSS_JQUERY_UI_URL ?>/jquery-ui-1.10.3.custom.min.css">
        <link rel="stylesheet" href="<?= CSS_FONT_ENTYPO_URL ?>/entypo.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="<?= CSS_BOOTSTRAP_URL ?>/bootstrap.css">
        <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-core.css">
        <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-theme.css">
        <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/neon-forms.css">
        <link rel="stylesheet" href="<?= CSS_GLOBAL_URL ?>/custom.css">

        <link href="<?= URL_CSS_UIKIT_PATH ?>/uikit-2.27.2.css" rel="stylesheet"/>
        <link href="<?= URL_CSS_UIKIT_PATH ?>/notify-2.27.2.css" rel="stylesheet"/>
        <link href="<?= URL_CSS_UIKIT_PATH ?>/customUkit.css" rel="stylesheet"/>

        <script src="<?= JS_JQUERY_URL ?>/jquery-1.11.0.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script>$.noConflict();</script>

        <?php

        function UrlAtual()
        {
            $url = filter_input(INPUT_SERVER, 'REQUEST_URI');
            return $url;
        }

        ?>
    </head>

    <body class="page-body login-page">

        <div class="uk-notify uk-notify-top-right">
            <?php if (santosdummont\Session::get("acao")) { ?>
                <div class="alert uk-notify-message uk-<?= santosdummont\Session::get("acao-class"); ?>" data-uk-alert>
                    <a class="uk-close"></a>
                    <div>
                        <?= santosdummont\Session::get("acao-msg") ?>
                    </div>
                    <?php
                    santosdummont\Session::delete("acao");
                    santosdummont\Session::delete("erro-login");
                    santosdummont\Session::delete("acao-msg");
                }

                ?>
            </div>
        </div>









