<footer>
    <div class="container">

    </div>
</footer>
</div>
</div>
</div>
</div>
<?php if (isset($acaoimportar)) { ?>
    <div id="importacaoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Importar Dados</h4>
                </div>
                <div class="modal-body">
                    <form method="post" class="form-horizontal form-groups-bordered" action="<?= $acaoimportar ?>" enctype="multipart/form-data">
                        <input type="file" name="arquivo_importacao" id="arquivo_importacao" class="form-control" data-name="Arquivo" accept="application/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"><br>
                        <input type="submit" class="btn btn-info" value="Importar Dados" id="upload">
                    </form>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
<div id="modal-lg" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Carregando Visualização</p>
            </div>
        </div>
    </div>
</div>
<div id="modal-md" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Carregando Visualização</p>
            </div>
        </div>
    </div>
</div>
<div id="modal-sm" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Carregando Visualização</p>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<?= JS_DATATABLE_URL ?>/responsive/css/datatables.responsive.css">
<link rel="stylesheet" href="<?= JS_SELECT2_URL ?>/select2-bootstrap.css">
<link rel="stylesheet" href="<?= JS_SELECT2_URL ?>/select2.css">

<script type="text/javascript" src="<?= JS_DATAPICKER_URL ?>/datepicker.min.js?randon=<?= uniqid() ?>"></script>
<script type="text/javascript" src="<?= JS_DATAPICKER_URL ?>/datePicker-pt-br.min.js?randon=<?= uniqid() ?>"></script>

<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/uikit-2.27.2.min.js?randon=<?= uniqid() ?>"></script>
<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/notify-2.27.2.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_LIGHTBOX ?>/lightbox.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_GSAP_URL ?>/main-gsap.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_JQUERY_UI_URL ?>/jquery-ui-1.10.3.minimal.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_BOOTSTRAP_URL ?>/bootstrap.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/joinable.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/resizeable.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-api.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_DATATABLE_URL ?>/jquery.dataTables.min.js?randon=<?= uniqid() ?>"></script>
<?php if (strtolower($controller) == "relatorios" || strtolower($controller) == "produtos" || strtolower($controller) == "usuarios" || strtolower($controller) == "clientes") { ?>
    <script src="<?= JS_DATATABLE_URL ?>/dataTables.buttons.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
    <script src="<?= JS_DATATABLE_URL ?>/jszip.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
    <script src="<?= JS_DATATABLE_URL ?>/pdfmake.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
    <script src="<?= JS_DATATABLE_URL ?>/vfs_fonts.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
    <script src="<?= JS_DATATABLE_URL ?>/buttons.html5.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<?php } ?>

<?php if (strtolower($controller) == "estatisticas") { ?>
    <script type="text/javascript" src="<?= JS_GLOBAL_URL ?>/highcharts.js?randon=<?= uniqid() ?>"></script>
<?php } ?>

<script src="<?= JS_DATATABLE_URL ?>/TableTools.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/dataTables.bootstrap.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_DATATABLE_URL ?>/jquery.dataTables.columnFilter.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_DATATABLE_URL ?>/lodash.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_DATATABLE_URL ?>/responsive/js/datatables.responsive.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_DATATABLE_URL ?>/dataTables.select.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_SELECT2_URL ?>/select2.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_TINYMCE_URL ?>/tinymce.min.js?randon=<?= uniqid() ?>"></script>

<script type="text/javascript" src="<?= JS_JQUERY_URL ?>/jquery.maskedinput.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_GLOBAL_URL ?>/jquery.maskMoney.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-chat.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-custom.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-demo.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/global.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/waitMe.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_FANCYBOX ?>/source/jquery.fancybox.pack.js?randon=<?= uniqid() ?>" type="text/javascript"></script>

<script src="<?= JS_TELAS . '/' . strtolower($controller) . '.min.js?randon=' . uniqid() ?>"></script>

<?php if (strtolower($controller) == "fabricantes") { ?>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: "false"
        });
    </script>
<?php } ?>
<?php if (strtolower($controller) == "home") { ?>

<?php } ?>
</body>

</html>
