<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/uikit-2.27.2.min.js?randon=<?= uniqid() ?>"></script>
<script type="text/javascript" src="<?= URL_JS_UIKIT_PATH ?>/notify-2.27.2.min.js?randon=<?= uniqid() ?>"></script>

<script src="<?= JS_GSAP_URL ?>/main-gsap.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_JQUERY_UI_URL ?>/jquery-ui-1.10.3.minimal.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_BOOTSTRAP_URL ?>/bootstrap.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/joinable.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/resizeable.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-api.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_GLOBAL_URL ?>/jquery.validate.min.js?randon=<?= uniqid() ?>"></script>
<script type="text/javascript" src="<?= JS_JQUERY_URL ?>/jquery.maskedinput.min.js"></script>
<script src="<?= JS_GLOBAL_URL ?>/jquery.maskMoney.min.js?randon=<?= uniqid() ?>" type="text/javascript"></script>
<script src="<?= JS_GLOBAL_URL ?>/neon-demo.min.js?randon=<?= uniqid() ?>"></script>
<script src="<?= JS_TELAS ?>/login.min.js?randon=<?= uniqid() ?>"></script>
</body>

</html>
