<div class="row">
    <div class="col-md-6 col-sm-8 clearfix">
        <ul class="user-info pull-left pull-none-xsm">
            <li class="profile-info dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <?php if (empty(santosdummont\Session::get('token'))) { ?>
                        <img src="<?= SITE_URL . "/public_html/static/img/no-avatar.png" ?>" alt="" class="img-circle" width="44" />
                    <?php } else { ?>
                        <?php if (empty($logado['US_IMAGEM'])) { ?>
                            <img src="<?= SITE_URL . "/public_html/static/img/no-avatar.png" ?>" alt="" class="img-circle" width="44" />
                        <?php } else { ?>
                            <img src="<?= SITE_URL . "/public_html/static/fotousuario/" . $logado['US_IMAGEM'] ?>" alt="" class="img-circle" width="44" />
                        <?php } ?>
                    <?php } ?>
                    <?= empty(santosdummont\Session::get('token')) ? '' : 'Seja bem vindo, ' . $logado['NOME_COMPLETO']; ?>
                </a>
                <ul class="dropdown-menu">
                    <li class="caret"></li>
                    <li>
                        <a href="<?= SITE_URL . '/Usuarios/MeusDados' ?>">
                            <i class="entypo-user"></i>
                            Meus Dados
                        </a>
                    </li>
                    <li>
                        <a href="<?= SITE_URL . '/Home/Sair' ?>">
                            <i class="entypo-logout"></i>
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="user-info pull-left pull-right-xs pull-none-xsm">
            <?php if (intval($notificacoes['O_CNT_DAD_US']) > 0) { ?>
            <li class="notifications dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="entypo-user"></i>
                    <span class="badge badge-info"><?= $notificacoes['O_CNT_DAD_US'] ?></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="top">
                        <p class="small">
                            Falta preencher <strong><?= $notificacoes['O_CNT_DAD_US'] ?></strong> informação(ões).
                        </p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: currentcolor none medium;" tabindex="5001">
                            <li class="unread notification-success">
                                <a href="<?= SITE_URL . '/Usuarios/MeusDados' ?>">
                                    <span class="line"> <strong>Verifique os dados do seu usuário</strong> </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <?php }?>
            <li class="notifications dropdown <?=intval($notificacoes['O_CNT_IN_CLI']) > 0 ? '': 'hidden'?>" id="li_novo_cli">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="Novos Clientes">
                    <i class="entypo-user-add"></i>
                    <span class="badge badge-info" id="n_novos_clientes"><?= $notificacoes['O_CNT_IN_CLI'] ?></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="top">
                        <p class="small" id="p_novos_clientes">
                            Foram cadastrados <strong><?= $notificacoes['O_CNT_IN_CLI'] ?></strong> novos clientes.
                        </p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: currentcolor none medium;" tabindex="5001">
                            <li class="unread notification-success">
                                <a href="<?= SITE_URL . '/Home/Notificacoes/1' ?>">
                                    <span class="line"> <strong>Acesse a área de Clientes</strong> </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="notifications dropdown <?= intval($notificacoes['O_CNT_IN_PED']) > 0 ? '' : 'hidden'?>" id="li_novo_ped">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="Novos Pedidos">
                    <i class="entypo-bell"></i>
                    <span class="badge badge-info" id="n_novos_pedidos"><?= $notificacoes['O_CNT_IN_PED'] ?></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="top">
                        <p class="small" id="p_novos_pedidos">
                            Foram registrados <strong><?= $notificacoes['O_CNT_IN_PED'] ?></strong> novos pedidos.
                        </p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: currentcolor none medium;" tabindex="5001">
                            <li class="unread notification-success">
                                <a href="<?= SITE_URL . '/Home/Notificacoes/2' ?>">
                                    <span class="line"> <strong>Acesse a área de Pedidos</strong> </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="notifications dropdown <?= intval($notificacoes['O_CNT_OUT_PED']) > 0 ? '' : 'hidden' ?>" id="li_canc_ped">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="Pedidos Cancelados">
                    <i class="entypo-cancel-squared"></i>
                    <span class="badge badge-info" id="p_cancel_pedidos"><?= $notificacoes['O_CNT_OUT_PED'] ?></span>
                </a>
                <ul class="dropdown-menu">
                    <li class="top">
                        <p class="small" id="p_cancel_pedidos">
                            Foram cancelados <strong><?= $notificacoes['O_CNT_OUT_PED'] ?></strong> pedidos.
                        </p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="overflow: hidden; outline: currentcolor none medium;" tabindex="5001">
                            <li class="unread notification-success">
                                <a href="<?= SITE_URL . '/Home/Notificacoes/3' ?>">
                                    <span class="line"> <strong>Acesse a área de Pedidos</strong> </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-sm-4 clearfix ">

    </div>
</div>
<hr />