/*--------------Alertas-------------------------*/
#main-menu li a,
#main-menu li a:hover,
#main-menu li a:link {
    text-decoration: none;
}

.alertSuccessForm {
    position: absolute;
    top: 0;
    z-index: 999;
    font-family: 'Prosto';
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 0px auto;
    right: 0;
    left: 0;
    padding: 10px;
    color: #DFF0D8;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
}

.file-foto {
    cursor: pointer;
}

.alertWarningForm {
    position: absolute;
    top: 0;
    z-index: 999;
    font-family: 'Prosto';
    font-size: 12px;
    z-index: 999;
    max-width: 600px;
    text-align: center;
    margin: 0px auto;
    right: 0;
    left: 0;
    padding: 10px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alertDangerForm {
    position: absolute;
    top: 0;
    z-index: 999;
    font-family: 'Prosto';
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 0px auto;
    right: 0;
    left: 0;
    padding: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
}

.hover {
    background-color: rgba(69, 74, 84, 0.3);
    color: #ffffff;
}

.bt-voltar {
    margin-top: 7px;
}

.nav-tabs {
    margin-bottom: -1px;
}

.tab_area {
    min-height: 400px;
    /*border-left: #ebebeb solid 1px;
    border-right: #ebebeb solid 1px;
    border-bottom: #ebebeb solid 1px;*/
}

.areaTabs {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tab_area h3 {
    padding-top: 15px;
}

.Pad10 {
    padding: 10px;
}

.Mar10 {
    margin: 10px;
}

i#icon {
    font-size: 21px;
    color: #7879f3;
    border: #7879f3 solid 1px;
    border-radius: 20px;
    padding: 0px 1px 4px 0px;
}

.display-curso,
.display-turma {
    min-height: 225px;
    border: #555ea2 solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.display-curso a:link,
.display-curso a:active,
.display-curso a:hover,
.display-turma a:link,
.display-turma a:active,
.display-turma a:hover {
    text-decoration: none;
}

.display-curso img {
    height: 130px;
    margin: auto;
}

.display-curso .info {
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px 0px;
    text-align: center;
    font-weight: bold;
    color: #555ea2;
}

.display-turma .infotitle {
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px 0px;
    text-align: center;
    font-weight: bold;
    color: #555ea2;
    margin-bottom: 10px;
}

.display-turma .info {
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 0px;
    text-align: center;
    color: #555ea2;
}

.display-turma .info span {
    color: #e31414;
}

.areassentos {
    background-color: #000;
    color: #fff;
    min-height: 438px;
    padding: 20px;
    text-align: center;
}

.areassentos img {
    width: 65px;
}

.div-icone-assento {
    padding: 9px 5px;
}

.div-icone-assento a {
    padding: 10px;
    margin: 10px;
}

.div-icone-assento a:active,
.div-icone-assento a:link,
.div-icone-assento a:hover {
    text-decoration: none;
}

.div-icone-assento span {
    font-size: 21px;
    font-weight: bold;
    color: #000;
    padding-top: 4px;
}

#areavagas h4 {
    line-height: 10px;
    margin-top: 0px;
}

#areavagas img {
    -webkit-transition: -webkit-filter 0.3s ease-in-out;
}

#areavagas .g {
    -webkit-filter: grayscale(1);
}

#areavagas .ng {
    -webkit-filter: grayscale(0);
}

.areatitle {
    height: 60px;
}

#form_reserva {
    margin-top: 15px;
}

.area-imagem {
    cursor: pointer
}

.setaLeftDataPicker {
    float: left;
}

.setaRightDataPicker {
    float: right;
}

#vagas h4,
#vagas h5 {
    line-height: 15px;
    font-size: 100%;
    margin: 0 0 5px 0;
}

#vagas span {}

.rowform {
    height: 80px;
}

.perfis-cb div.checkbox-inline:first-child {
    margin-left: 10px;
}

.areassentos h3 {
    color: #fff;
}

.area_reservas {
    height: 160px;
    text-align: center;
    padding: 3px;
    color: #000;
}

.area_reservas label {
    font-weight: bold;
    font-size: 1.1rem;
}

.bloco-manha {
    background: #e4e1e1;
}

.linha-manha {
    margin-bottom: 10px;
}

.bloco {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.bloco span {
    font-size: 0.8rem;
    text-align: center;
}

.bloco-tarde {
    background: #afc9f6
}

.linha-tarde {
    margin-bottom: 10px;
}

.linha-noite {
    margin-bottom: 10px;
}

.bloco-noite {
    background: #ceefab;
}

.linha-periodo {
    height: 160px;
}

.linha-periodo label {
    padding-top: 70px;
    font-size: 1.1rem;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.linha {
    padding: 15px;
}

.linha .title-tab {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.linha .lugar {
    height: 17px;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.linha .ouvintes {
    padding-left: 6%;
    padding-right: 0px;
}

.linha .ouvintes .lugar {
    width: 12.5%;
    background-color: #6c726c;
    margin: 3px;
    cursor: pointer;
}

.linha .ouvintes .lugarvago {
    width: 12.5%;
    background-color: #e31414;
    margin: 3px;
    height: 17px;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.linha .reservado {
    background-color: #e31414;
}

.linha .participantes {
    padding-left: 14%;
    padding-right: 10px;
}

.linha .participantes .lugar {
    width: 14%;
    background-color: green;
    margin: 3px 7px;
    cursor: pointer;
}

.linha .participantes .lugarvago {
    width: 14%;
    background-color: #e31414;
    margin: 3px 7px;
    height: 17px;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

.titulo-semana {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.titulo-semana span {
    font-size: 0.8rem;
    font-weight: normal;
}

.linha .title {
    font-size: 0.7rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
}

.linha table {
    border: none;
    width: 100%;
}

.linha table tr {
    border: none
}

.linha table tr td {
    border: none;
    padding: 0px;
    width: 22px;
}

.tab-turmas {
    border-right: #ebebeb solid 1px;
    border-left: #ebebeb solid 1px;
    border-bottom: #ebebeb solid 1px;
}

.div-captcha {
    margin-left: 9px;
}

td.id {
    width: 50px;
}

td.acoes {
    width: 180px;
    text-align: center
}

.multselect {
    min-height: 300px;
    margin-top: 7px;
}

.multselect option {
    border-bottom: #ccc solid 1px;
    padding: 5px 5px 5px;
    font-size: 11px;
}

.multselect {
    overflow: auto;
    padding: 5px 0px;
}

.divbusca {
    background: #f1efef;
}

.page-container .sidebar-menu #main-menu li ul>li a.menu-link-selecionado {
    color: #cdd03f;
}

.tab-content {
    border: #ccc solid 1px;
    padding: 50px 15px 15px;
    min-height: 430px;
}

#info-config .nav-tabs li {
    font-size: 14px;
    font-weight: bold;
}

.wd10 {
    width: 10px;
}

.wd20 {
    width: 20px;
}

.wd30 {
    width: 30px;
}

.wd40 {
    width: 40px;
}

.wd50 {
    width: 50px;
}

.wd60 {
    width: 60px;
}

.wd70 {
    width: 70px;
}

.wd80 {
    width: 80px;
}

.wd90 {
    width: 90px;
}

.wd100 {
    width: 100px;
}

.wd150 {
    width: 150px;
}

.wd200 {
    width: 200px;
}

.wd250 {
    width: 250px;
}

.wd300 {
    width: 300px;
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: 40px;
    margin-left: -20%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: none;
}

.dataTables_wrapper .nopad_r {
    padding: 0px 0px 0px 15px;
}

.dataTables_wrapper .nopad_l {
    padding: 0px 15px 0px 0px;
}

.tab-text {
    text-transform: uppercase;
    font-weight: bold;
}

.sub-title-form {
    padding-bottom: 0px;
}

.tab-info-prod {
    padding: 15px 15px 15px;
}

.div-imagens {
    margin-top: 50px;
    overflow: auto;
    min-height: 135px;
    padding: 5px 0px;
}

.tb-prod .dataTables_wrapper .dataTables_filter>label {
    display: none;
}

.h-100 {
    height: 100px
}

.h-150 {
    height: 150px
}

.h-158 {
    height: 158px
}

.h-200 {
    height: 200px
}

.h-250 {
    height: 250px
}

.h-300 {
    height: 300px
}

.h-350 {
    height: 300px
}

.mh-100 {
    min-height: 100px
}

.mh-150 {
    min-height: 150px
}

.mh-200 {
    min-height: 200px
}

.mh-250 {
    min-height: 250px
}

.mh-300 {
    min-height: 300px
}

.mh-350 {
    min-height: 300px
}

.detalhe_pedido .img-pag {
    width: 70px;
}

.detalhe_pedido h5 {
    line-height: 15px;
    margin: 11px 0px 10px;
}

.detalhe_pedido h6 {
    line-height: 10px;
    margin: 15px 0px 5px;
}

.disabled {
    opacity: 0.5;
}

.chart_area {
    border: #ccc solid 1px;
    min-height: 410px;
    margin: 10px 0px;
}

.opcbk80 {
    width: 80px;
}

.opcbk80 input {
    margin: 6px 3px 0;
    margin-top: 1px \9;
    line-height: normal;
    vertical-align: sub;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.padding-lr-15 {
    padding: 0px 15px 0px 15px;
}

.preview {
    width: 200px;
    border: 1px solid #aaaaaa;
    background: white;
    margin-bottom: 5px;
}

.prvw1 {
    height: 44px;
    margin-bottom: 54px;
}

.prvw2 {
    height: 63px;
    margin-bottom: 34px;
}

.prvw3 {
    height: 86px;
    margin-bottom: 10px;
}

.preview img {
    display: none;
}
