.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    border: none;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    border: none;
    background: transparent;
}