.uk-notify-top-center, .uk-notify-bottom-center {
    left: 44%;
    width: 40% !important;
    font-weight: 400;
}

.uk-notify-message {
    font-size: 12px;
    font-weight: bold;
}

.uk-alert{
    border-radius: 5px;
}

.uk-alert-danger{
    border: solid 1px #d85030;
}