<div class="detalhe_pedido mh-300">
    <div class="row">
        <div class="col-md-4">
            <h5>Identificaçao: <strong><?= $pedido['TOKEN'] ?></strong></h5>
            <h5>Total do Pedido: <strong><span id="total_pedido"><?= 'R$' . number_format($pedido['VALOR_PEDIDO'], 2, ',', '.') ?></span></strong></h5>
            <div>Produtos: <span><?= 'R$' . number_format($pedido['VALOR_PRODUTOS'], 2, ',', '.') ?></span></div>
            <div>Frete: <span><?= 'R$' . number_format($pedido['VALOR_FRETE'], 2, ',', '.') ?></span></div>
            <div>
                <h6><strong>Forma de Pagamento</strong></h6>
                <div>
                    <img class="img-pag" src="<?= URL_IMG . '/meiospagamentos/' . $pedido['MEIO_IMG'] ?>" title="<?= $pedido['MEIO_PAG'] ?>" />
                </div>
                <?php if (!empty($pedido['BANDEIRA'])) { ?>
                    <div>
                        <?php if ($pedido['BANDEIRA'] == 'VISA') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:2% 5%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'MASTERCARD') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:34% 5%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'AMERICAN EXPRESS') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:66% 5%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'JCB') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:98.4% 5%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'ELO') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:1.5% 94%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'DINERS CLUB') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:33.8% 94%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'DISCOVER') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:66% 95%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                        <?php if ($pedido['BANDEIRA'] == 'AURA') { ?>
                            <label>
                                <div style="background-image: url('<?= URL_IMG . '/formas-de-pagamento.png' ?>');height: 52px;background-position:98.6% 95%; background-size:451%"></div>
                            </label>
                        <?php } ?>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-sm-12">
                <h6><strong>Cliente</strong></h6>
                <div class="form-group">
                    <div><span><?= 'NOME: ' . $pedido['NOME_COMPLETO'] ?></span></div>
                    <div><span><?= 'E-MAIL: ' . $pedido['EMAIL'] ?></span></div>
                    <div><span><?= $pedido['TIPO_DOC'] == 'CPF' ? 'CPF: ' . $pedido['NUM_DOC'] : 'CNPJ: ' . $pedido['NUM_DOC'] ?></span></div>
                    <div><span><?= 'TELEFONE DE CONTATO: ' . $pedido['TELEFONE'] ?></span></div>
                </div>
            </div>
            <?php if (intval($pedido['COD_MP_PAG']) != 719680) { ?>
                <div class="col-sm-12">
                    <h6><strong>Local de Entrega</strong></h6>
                    <div class="form-group">
                        <div><span><?= $pedido['END_ENDERECO'] . ', ' . $pedido['END_NUM'] ?></span></div>
                        <div><span><?= 'CEP: ' . $pedido['END_CEP'] . ', ' . $pedido['END_BAIRRO'] . ', ' . $pedido['END_CIDADE'] . '-' . $pedido['END_UF'] ?></span></div>
                        <?php if (!empty($pedido['END_COMPLEMENTO'])) { ?>
                            <div><span><?= 'Complemento: ' . $pedido['END_COMPLEMENTO'] ?></span></div>
                        <?php } ?>
                    </div>
                </div>
            <?php } else { ?>
                <div class="col-md-6 col-sm-12">
                    <label><strong>Local de Retirada</strong></label>
                    <div>
                        <div class="form-group">
                            <div><span>Loja Santos Dumont Componentes Eletrônicos</span></div>
                            <div><span><?= $contatosite['@ENDERECO'] . ', ' . $contatosite['@NUMERO'] ?></span></div>
                            <div><span><?= 'CEP: ' . $contatosite['@CEP'] . ', ' . $contatosite['@BAIRRO'] . ', ' . $contatosite['@CIDADE'] . '-' . $contatosite['@UF'] ?></span></div>
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="col-sm-8">
                <h5><strong>Detalhe Pagamento</strong></h5>
                <div class="form-group">
                    <div style="color: red;"><span><strong><?= $pedido['MENSAGEM'] . ' - ' . $pedido['DESCRICAO'] ?></strong></span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <h6><strong>Método de Entrega</strong></h6>
                <div class="form-group">
                    <div><span><?= $pedido['MEIO_ENT'] ?></span></div>
                    <img class="img-pag" src="<?= URL_IMG . '/' . $pedido['MEIO_IMG_ENT'] ?>" title="<?= $pedido['MEIO_ENT'] ?>" />
                </div>
            </div>
            <div class="col-sm-8">
                <h5><strong>Observação</strong></h5>
                <div class="form-group">
                    <div><span><?= $pedido['COMENTARIO'] ?></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h6><strong>Itens do Pedido</strong></h6>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Preço Unitário</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($itenspedido as $item) { ?>
                        <tr>
                            <td><?= $item['PRD_NOME'] ?></td>
                            <td><?= 'R$ ' . number_format($item['PRD_PRECO'], 2, ',', '.') ?></td>
                            <td><?= $item['QTDE'] ?></td>
                            <td><?= 'R$ ' . number_format($item['PRECO_TOTAL'], 2, ',', '.') ?></td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
