<div class="row">
    <div class="col-sm-4 pull-left">
        <h2><?= $titulopagina ?></h2>
    </div>
    <div class="col-sm-8 text-right">
        <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/Processar' ?>" id="btn_processar" class="btn btn-icon btn-blue" data-toggle="tootip" data-placement="top" title="Processar Pedido">
            Processar Pedidos
            <i class="entypo-arrows-ccw"></i>
        </a>
        <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/EnviarEmail' ?>" id="btn_enviar" data-load-title="Enviar Mensagem" class="btn btn-icon btn-success" data-toggle="tootip" data-placement="top" title="Enviar Mensagem">
            Enviar E-mail
            <i class="entypo-mail"></i>
        </a>
        <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/Imprimir' ?>" target="_blank" id="btn_imprimir" class="btn btn-icon btn-info" data-toggle="tootip" data-placement="top" title="Imprimir">
            Imprimir
            <i class="entypo-print"></i>
        </a>
        <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/Cancelar' ?>" id="btn_cancelar" class="btn btn-icon btn-danger" data-toggle="tootip" data-placement="top" title="Cancelar">
            Cancelar
            <i class="entypo-trash"></i>
        </a>
    </div>
    <input type="hidden" id="valores" />
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="table-2_wrapper" class="dataTables_wrapper no-footer">
            <table id="tb-pedidos" class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th style="width: 30px"> </th>
                        <th> </th>
                        <th>Código</th>
                        <th>Data</th>
                        <th>Itens</th>
                        <th>Valor</th>
                        <th>Cliente</th>
                        <th>Status</th>
                        <th>Status Pagamento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($listapedidos as $row) { ?>
                        <tr>
                            <td class="sorting_1"></td>
                            <td class="id sorting_1"><?= $row['PED_ID'] ?></td>
                            <td class="id sorting_1"><?= $row['TOKEN'] ?></td>
                            <td class="sorting_1"><?= $row['DATA_CADASTRO'] ?></td>
                            <td class="sorting_1"><?= $row['QTDE_ITENS'] ?></td>
                            <td class="sorting_1"><?= 'R$ ' . number_format($row['VALOR_PEDIDO'], 2, ',', '.') ?></td>
                            <td class="sorting_1"><?= $row['NOME_COMPLETO'] ?></td>
                            <td class="sorting_1"><?= $row['STATUS_PED'] ?></td>
                            <td class="sorting_1"><?= $row['MENSAGEM'] ?></td>
                            <td class="acoes">
                                <a href="#" data-toggle="modal" data-target="#modal-lg" data-load-url="<?= SITE_URL . '/' . $controller . '/Detalhe/' . $row['PED_ID'] ?>" class="btn btn-xs btn-warning" data-load-title="Detalhe do Pedido: <?= $row['TOKEN'] ?>" data-toggle="tootip" data-placement="top" title="Detalhe do Pedido">
                                    <i class="entypo-info"></i>
                                </a>
                                <?php if (in_array(intval($row['PED_STATUS']), [0, 1])) { ?>
                                    <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/Processar' ?>" data-id="<?= $row['PED_ID'] ?>" class="btn btn-xs btn-blue btn_process" data-load-title="Processar Pedido: <?= $row['TOKEN'] ?>" data-toggle="tootip" data-placement="top" title="Processar Pedido">
                                        <i class="entypo-arrows-ccw"></i>
                                    </a>
                                <?php } ?>
                                <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/EnviarEmail' ?>" data-id="<?= $row['PED_ID'] ?>" class="btn btn-xs btn-success send_msg" data-load-title="Enviar Mensagem" data-toggle="tootip" data-placement="top" title="Enviar Mensagem">
                                    <i class="entypo-mail"></i>
                                </a>
                                <a href="<?= SITE_URL . '/' . $controller . '/Imprimir/' . $row['PED_ID'] ?>" target="_blank" class="btn btn-xs btn-info" data-toggle="tootip" data-placement="top" title="Imprimir">
                                    <i class="entypo-print"></i>
                                </a>
                                <?php if (in_array(intval($row['PED_STATUS']), [0, 1])) { ?>
                                    <a href="#" data-action="<?= SITE_URL . '/' . $controller . '/Cancelar/' . $row['PED_ID'] ?>" class="btn btn-xs btn-danger cancelar_pedido" data-toggle="tootip" data-placement="top" title="Excluir Pedido">
                                        <i class="entypo-trash"></i>
                                    </a>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
