<?php $ct = 0; ?>

<div class="detalhe_pedido mh-350">
    <div class="row">
        <div class="col-md-12">
            <form id="form-mensagem" name="form-banner" class="form-horizontal form-groups-bordered" role="form" method="post" action="<?= $actionseparar ?>" enctype="multipart/form-data">
                <?php foreach ($pedidos as $pedido) { ?>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h4><strong><?= 'PEDIDO ' . $pedido['TOKEN'] ?></strong></h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Método de Entrega</label>
                        <div class="col-sm-7">
                            <img class="img-pag" src="<?= URL_IMG . '/' . $pedido['MEIO_IMG_ENT'] ?>" title="<?= $pedido['MEIO_ENT'] ?>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Localizador / OS</label>
                        <div class="col-sm-7">
                            <input autocomplete="off" type="text" class="form-control" id="localizador<?= $ct ?>" name="localizador[]" placeholder="Localizador" data-name="Localizador" maxlength="200"/>
                        </div>
                    </div>
                    <input type="hidden" name="pedido[]" value="<?= $pedido['PED_ID'] ?>"/>
                    <?php $ct++ ?>
                <?php } ?>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Observação</label>
                    <div class="col-sm-8">
                        <textarea autocomplete="off" class="form-control" id="mensagem" name="observacao" placeholder="observacao" data-name="Observação"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-2">
                        <button type="buttom" name="submit" class="btn btn-success form_submit">Enviar Mensagem</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

